In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import xgboost as xgb
from sklearn.metrics import mean_squared_error
from typing import List

'''
None || 2000
'''
nb = None
nb_trains = nb
nb_valids = nb
nb_tests = None

In [2]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [3]:
cd drive/MyDrive/Projects/JPX_Tokyo_Stock/JPX_stock_2022/working

/content/drive/MyDrive/Projects/JPX_Tokyo_Stock/JPX_stock_2022/working

In [4]:
! pip install optuna

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: optuna in /usr/local/lib/python3.7/dist-packages (2.10.1)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from optuna) (21.3)
Requirement already satisfied: scipy!=1.4.0 in /usr/local/lib/python3.7/dist-packages (from optuna) (1.4.1)
Requirement already satisfied: alembic in /usr/local/lib/python3.7/dist-packages (from optuna) (1.8.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from optuna) (4.64.0)
Requirement already satisfied: colorlog in /usr/local/lib/python3.7/dist-packages (from optuna) (6.6.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from optuna) (1.21.6)
Requirement already satisfied: cliff in /usr/local/lib/python3.7/dist-packages (from optuna) (3.10.1)
Requirement already satisfied: sqlalchemy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from optuna) (1.4.37)
Requirement already satisfied: cmaes>=0.8.2 in /usr/local/lib/python3.7/dist-packages (from optuna) (0.8.2)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.7/dist-packages (from optuna) (3.13)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->optuna) (3.0.9)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=1.1.0->optuna) (1.1.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=1.1.0->optuna) (4.11.4)
Requirement already satisfied: importlib-resources in /usr/local/lib/python3.7/dist-packages (from alembic->optuna) (5.7.1)
Requirement already satisfied: Mako in /usr/local/lib/python3.7/dist-packages (from alembic->optuna) (1.2.0)
Requirement already satisfied: cmd2>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from cliff->optuna) (2.4.1)
Requirement already satisfied: stevedore>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from cliff->optuna) (3.5.0)
Requirement already satisfied: PrettyTable>=0.7.2 in /usr/local/lib/python3.7/dist-packages (from cliff->optuna) (3.3.0)
Requirement already satisfied: autopage>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from cliff->optuna) (0.5.1)
Requirement already satisfied: pbr!=2.1.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from cliff->optuna) (5.9.0)
Requirement already satisfied: wcwidth>=0.1.7 in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna) (0.2.5)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna) (4.1.1)
Requirement already satisfied: attrs>=16.3.0 in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna) (21.4.0)
Requirement already satisfied: pyperclip>=1.6 in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna) (1.8.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy>=1.1.0->optuna) (3.8.0)
Requirement already satisfied: MarkupSafe>=0.9.2 in /usr/local/lib/python3.7/dist-packages (from Mako->alembic->optuna) (2.0.1)

In [5]:
import optuna
from data_utils import *

In [6]:
train_df = pd.read_csv('../__input__/1_DataPreprocessing/train_df.csv', parse_dates=['Date'], nrows = nb_trains)
valid_df = pd.read_csv('../__input__/1_DataPreprocessing/valid_df.csv', parse_dates=['Date'], nrows = nb_trains)
test_df = pd.read_csv('../__input__/1_DataPreprocessing/test_df.csv', parse_dates=['Date'], nrows = nb_trains)

### check info

In [7]:
train_df.info(null_counts= True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1863182 entries, 0 to 1863181
Data columns (total 13 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Date              1863182 non-null  datetime64[ns]
 1   SecuritiesCode    1863182 non-null  int64
 2   ExpectedDividend  1863182 non-null  float64
 3   AdjustmentFactor  1863182 non-null  float64
 4   SupervisionFlag   1863182 non-null  bool
 5   Volume            1863182 non-null  int64
 6   Open              1863182 non-null  float64
 7   High              1863182 non-null  float64
 8   Low               1863182 non-null  float64
 9   Close             1863182 non-null  float64
 10  Target            1863182 non-null  float64
 11  CloseT1           1863182 non-null  float64
 12  CloseT2           1863182 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(9), int64(2)
memory usage: 172.4 MB

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  """Entry point for launching an IPython kernel.

In [8]:
train_df.head(20)

,Date,SecuritiesCode,ExpectedDividend,AdjustmentFactor,SupervisionFlag,Volume,Open,High,Low,Close,Target,CloseT1,CloseT2
0,2017-01-04,1301,-1.0,1.0,False,31400,2734.0,2755.0,2730.0,2742.0,0.000730,2738.0,2740.0
1,2017-01-04,1332,-1.0,1.0,False,2798500,568.0,576.0,563.0,571.0,0.012324,568.0,575.0
2,2017-01-04,1333,-1.0,1.0,False,270800,3150.0,3210.0,3140.0,3210.0,0.006154,3250.0,3270.0
3,2017-01-04,1376,-1.0,1.0,False,11300,1510.0,1550.0,1510.0,1550.0,0.011053,1538.0,1555.0
4,2017-01-04,1377,-1.0,1.0,False,150800,3270.0,3350.0,3270.0,3330.0,0.003026,3305.0,3315.0
5,2017-01-04,1379,-1.0,1.0,False,77300,2105.0,2147.0,2101.0,2143.0,0.005169,2128.0,2139.0
6,2017-01-04,1381,-1.0,1.0,False,1300,1950.0,1960.0,1949.0,1960.0,-0.009326,1930.0,1912.0
7,2017-01-04,1407,-1.0,1.0,False,147000,857.0,877.0,851.0,866.0,-0.003437,885.0,882.0
8,2017-01-04,1414,-1.0,1.0,False,119600,4940.0,5060.0,4935.0,5050.0,0.000000,5030.0,5030.0
9,2017-01-04,1417,-1.0,1.0,False,347500,1051.0,1063.0,1048.0,1053.0,-0.007463,1072.0,1064.0
10,2017-01-04,1419,-1.0,1.0,False,51600,526.0,535.0,526.0,535.0,0.009259,540.0,545.0
11,2017-01-04,1429,-1.0,1.0,False,24900,418.0,420.0,418.0,418.0,0.007160,419.0,422.0
12,2017-01-04,1435,-1.0,1.0,False,95700,4165.0,4180.0,4100.0,4165.0,-0.023641,4230.0,4130.0
13,2017-01-04,1515,-1.0,1.0,False,25200,5610.0,5740.0,5560.0,5720.0,-0.026502,5660.0,5510.0
14,2017-01-04,1518,-1.0,1.0,False,124300,1298.0,1340.0,1298.0,1330.0,-0.007559,1323.0,1313.0
15,2017-01-04,1605,-1.0,1.0,False,5927100,1182.5,1201.0,1180.0,1190.0,-0.012414,1168.0,1153.5
16,2017-01-04,1662,-1.0,1.0,False,532800,2629.0,2728.0,2629.0,2672.0,-0.004915,2645.0,2632.0
17,2017-01-04,1663,-1.0,1.0,False,27400,1844.0,1871.0,1813.0,1871.0,0.006963,1867.0,1880.0
18,2017-01-04,1712,-1.0,1.0,False,23300,1458.0,1490.0,1445.0,1483.0,-0.008059,1489.0,1477.0
19,2017-01-04,1716,-1.0,1.0,False,42600,998.0,1024.0,998.0,1023.0,0.004916,1017.0,1022.0

In [9]:
valid_df.info(null_counts= True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232663 entries, 0 to 232662
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Date              232663 non-null  datetime64[ns]
 1   SecuritiesCode    232663 non-null  int64
 2   ExpectedDividend  232663 non-null  float64
 3   AdjustmentFactor  232663 non-null  float64
 4   SupervisionFlag   232663 non-null  bool
 5   Volume            232663 non-null  int64
 6   Open              232663 non-null  float64
 7   High              232663 non-null  float64
 8   Low               232663 non-null  float64
 9   Close             232663 non-null  float64
 10  Target            232663 non-null  float64
 11  CloseT1           232663 non-null  float64
 12  CloseT2           232663 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(9), int64(2)
memory usage: 21.5 MB

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  """Entry point for launching an IPython kernel.

In [10]:
valid_df.head(20)

,Date,SecuritiesCode,ExpectedDividend,AdjustmentFactor,SupervisionFlag,Volume,Open,High,Low,Close,Target,CloseT1,CloseT2
0,2021-05-28,1301,-1.0,1.0,False,96000,2905.0,2909.0,2851.0,2869.0,0.026934,2896.0,2974.0
1,2021-05-28,1332,-1.0,1.0,False,1578600,509.0,517.0,508.0,514.0,0.013807,507.0,514.0
2,2021-05-28,1333,-1.0,1.0,False,148900,2405.0,2420.0,2400.0,2415.0,0.016701,2395.0,2435.0
3,2021-05-28,1375,-1.0,1.0,False,156900,1781.0,1797.0,1764.0,1770.0,-0.006384,1723.0,1712.0
4,2021-05-28,1376,-1.0,1.0,False,8300,1540.0,1540.0,1506.0,1524.0,0.006098,1476.0,1485.0
5,2021-05-28,1377,-1.0,1.0,False,424500,3645.0,3720.0,3630.0,3680.0,0.005384,3715.0,3735.0
6,2021-05-28,1379,-1.0,1.0,False,105000,1948.0,1953.0,1936.0,1941.0,0.002069,1933.0,1937.0
7,2021-05-28,1381,-1.0,1.0,False,1700,3420.0,3430.0,3405.0,3420.0,-0.005857,3415.0,3395.0
8,2021-05-28,1407,-1.0,1.0,False,234900,3485.0,3540.0,3440.0,3540.0,-0.022599,3540.0,3460.0
9,2021-05-28,1413,-1.0,1.0,False,20200,2512.0,2522.0,2484.0,2512.0,0.009604,2499.0,2523.0
10,2021-05-28,1414,-1.0,1.0,False,124900,4590.0,4615.0,4580.0,4605.0,0.002186,4575.0,4585.0
11,2021-05-28,1417,-1.0,1.0,False,340600,1973.0,1982.0,1947.0,1961.0,0.007772,1930.0,1945.0
12,2021-05-28,1419,-1.0,1.0,False,1248500,2154.0,2226.0,2144.0,2188.0,0.038973,2104.0,2186.0
13,2021-05-28,1429,-1.0,1.0,False,92500,513.0,524.0,512.0,522.0,-0.001859,538.0,537.0
14,2021-05-28,1431,-1.0,1.0,False,41800,910.0,914.0,906.0,910.0,0.010695,935.0,945.0
15,2021-05-28,1435,-1.0,1.0,False,1025300,272.0,274.0,268.0,272.0,-0.042146,261.0,250.0
16,2021-05-28,1515,-1.0,1.0,False,45800,6170.0,6280.0,6140.0,6280.0,0.040000,6250.0,6500.0
17,2021-05-28,1518,-1.0,1.0,False,38500,933.0,944.0,933.0,942.0,0.006322,949.0,955.0
18,2021-05-28,1605,-1.0,1.0,False,9108400,753.0,758.0,749.0,753.0,0.025232,753.0,772.0
19,2021-05-28,1662,-1.0,1.0,False,334600,2006.0,2008.0,1967.0,1982.0,0.009635,1972.0,1991.0

In [11]:
test_df.info(null_counts= True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198663 entries, 0 to 198662
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Date              198663 non-null  datetime64[ns]
 1   SecuritiesCode    198663 non-null  int64
 2   ExpectedDividend  198663 non-null  float64
 3   AdjustmentFactor  198663 non-null  float64
 4   SupervisionFlag   198663 non-null  bool
 5   Volume            198663 non-null  int64
 6   Open              198663 non-null  float64
 7   High              198663 non-null  float64
 8   Low               198663 non-null  float64
 9   Close             198663 non-null  float64
 10  Target            198663 non-null  float64
 11  CloseT1           198663 non-null  float64
 12  CloseT2           198663 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(9), int64(2)
memory usage: 18.4 MB

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  """Entry point for launching an IPython kernel.

In [12]:
test_df.head(20)

,Date,SecuritiesCode,ExpectedDividend,AdjustmentFactor,SupervisionFlag,Volume,Open,High,Low,Close,Target,CloseT1,CloseT2
0,2021-12-06,1301,-1.0,1.0,False,8900,2982.0,2982.0,2965.0,2971.0,-0.003263,3065.0,3055.0
1,2021-12-06,1332,-1.0,1.0,False,1360800,592.0,599.0,588.0,589.0,-0.008993,556.0,551.0
2,2021-12-06,1333,-1.0,1.0,False,125900,2368.0,2388.0,2360.0,2377.0,-0.009963,2409.0,2385.0
3,2021-12-06,1375,-1.0,1.0,False,81100,1230.0,1239.0,1224.0,1224.0,-0.015032,1264.0,1245.0
4,2021-12-06,1376,-1.0,1.0,False,6200,1339.0,1372.0,1339.0,1351.0,0.002867,1395.0,1399.0
5,2021-12-06,1377,-1.0,1.0,False,77000,3185.0,3215.0,3180.0,3200.0,0.003044,3285.0,3295.0
6,2021-12-06,1379,-1.0,1.0,False,48500,1890.0,1898.0,1885.0,1889.0,-0.009870,1925.0,1906.0
7,2021-12-06,1381,-1.0,1.0,False,1600,3200.0,3200.0,3150.0,3150.0,0.000000,3165.0,3165.0
8,2021-12-06,1407,-1.0,1.0,False,246700,6100.0,6290.0,6010.0,6220.0,-0.004732,6340.0,6310.0
9,2021-12-06,1413,-1.0,1.0,False,9200,2185.0,2211.0,2181.0,2190.0,0.002222,2250.0,2255.0
10,2021-12-06,1414,-1.0,1.0,False,121500,5090.0,5110.0,5040.0,5060.0,-0.009728,5140.0,5090.0
11,2021-12-06,1417,-1.0,1.0,False,209200,2001.0,2019.0,1988.0,1991.0,-0.010386,2022.0,2001.0
12,2021-12-06,1419,-1.0,1.0,False,123500,2285.0,2289.0,2253.0,2288.0,-0.018684,2355.0,2311.0
13,2021-12-06,1429,-1.0,1.0,False,33300,709.0,714.0,704.0,712.0,-0.005355,747.0,743.0
14,2021-12-06,1431,-1.0,1.0,False,43700,831.0,862.0,818.0,837.0,-0.002312,865.0,863.0
15,2021-12-06,1435,-1.0,1.0,False,209700,226.0,227.0,221.0,222.0,0.008584,233.0,235.0
16,2021-12-06,1515,-1.0,1.0,False,12200,6340.0,6360.0,6240.0,6310.0,0.003120,6410.0,6430.0
17,2021-12-06,1518,-1.0,1.0,False,453800,1355.0,1380.0,1331.0,1332.0,0.016464,1397.0,1420.0
18,2021-12-06,1605,-1.0,1.0,False,9554500,937.0,956.0,937.0,947.0,0.015400,974.0,989.0
19,2021-12-06,1662,-1.0,1.0,False,292000,2385.0,2412.0,2361.0,2397.0,0.030000,2500.0,2575.0

### Calc Scores

In [13]:
def calc_spread_return_per_day(df, portfolio_size: int = 200, toprank_weight_ratio: float = 2):
    """
    Args:
        df (pd.DataFrame): predicted results
        portfolio_size (int): # of equities to buy/sell
        toprank_weight_ratio (float): the relative weight of the most highly ranked stock compared to the least.
    Returns:
        (float): spread return
    """
    assert df['Rank'].min() == 0
    assert df['Rank'].max() == len(df['Rank']) - 1
    weights = np.linspace(start=toprank_weight_ratio, stop=1, num=portfolio_size)
    purchase = (df.sort_values(by='Rank')['Target'][:portfolio_size] * weights).sum() / weights.mean()
    short = (df.sort_values(by='Rank', ascending=False)['Target'][:portfolio_size] * weights).sum() / weights.mean()
    return purchase - short

def calc_spread_return_sharpe(df: pd.DataFrame, portfolio_size: int = 200, toprank_weight_ratio: float = 2) -> float:
    """
    Args:
        df (pd.DataFrame): predicted results
        portfolio_size (int): # of equities to buy/sell
        toprank_weight_ratio (float): the relative weight of the most highly ranked stock compared to the least.
    Returns:
        (float): sharpe ratio
    """
    buf = df.groupby('Date').apply(calc_spread_return_per_day, portfolio_size, toprank_weight_ratio)
    sharpe_ratio = buf.mean() / buf.std()
    return sharpe_ratio, buf

def add_rank(df: pd.DataFrame, y_pred):
    df["Pred"] = y_pred
    df["Rank"] = df.groupby("Date")["Pred"].rank(ascending=False, method="first") - 1 
    df = df.drop("Pred", axis= 1)
    return df

In [14]:
def calc_score(df: pd.DataFrame, y_pred: pd.DataFrame, y_true: pd.DataFrame, render_info= True):
    feature_df = df.copy()
    feature_df = add_rank(feature_df, y_pred)
    feature_df['Target'] = y_true
    score, buf = calc_spread_return_sharpe(feature_df)
    if render_info:
        print(f'score -> {score}\nmean -> {buf.mean()}\nstd -> {buf.std()}')
    return score

In [15]:
calc_score(test_df, test_df["Target"], test_df["Target"])

score -> 4.736669470975898
mean -> 15.115996128121248
std -> 3.1912710440838277

4.736669470975898

### Cross Validation

In [16]:
featureCols = train_df.drop(["Target", "CloseT1", "CloseT2"], axis = 1).columns
featureCols

Index(['Date', 'SecuritiesCode', 'ExpectedDividend', 'AdjustmentFactor',
       'SupervisionFlag', 'Volume', 'Open', 'High', 'Low', 'Close'],
      dtype='object')

In [17]:
X_train = train_df[featureCols]
X_train["Date"] = X_train["Date"].astype(str)
y_train = train_df["Target"]

X_valid = valid_df[featureCols]
X_valid["Date"] = X_valid["Date"].astype(str)
y_valid = valid_df["Target"]

X_test = test_df[featureCols]
X_test["Date"] = X_test["Date"].astype(str)
yTest_true = test_df["Target"]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [18]:
calc_score(X_test, yTest_true, yTest_true)

score -> 4.736669470975898
mean -> 15.115996128121248
std -> 3.1912710440838277

4.736669470975898

#### Optuna tuning

In [21]:
def objective(
    trial,
    random_state=22,
    n_jobs=-1,
):
    # XGBoost parameters
    params = {
        'tree_method':'gpu_hist',
        "verbosity": 0,  # 0 (silent) - 3 (debug)
        "objective": "reg:squarederror",
        "n_estimators": trial.suggest_int("n_estimators", 1, 10) * 100,
        "max_depth": trial.suggest_int("max_depth", 4, 20),
        "learning_rate": trial.suggest_loguniform("learning_rate", 0.005, 0.05),
        "colsample_bytree": trial.suggest_loguniform("colsample_bytree", 0.2, 0.6),
        "subsample": trial.suggest_loguniform("subsample", 0.6, 0.8),
        "alpha": trial.suggest_loguniform("alpha", 0.01, 10.0),
        "lambda": trial.suggest_loguniform("lambda", 1e-8, 10.0),
        "gamma": trial.suggest_loguniform("lambda", 1e-8, 10.0),
        "min_child_weight": trial.suggest_loguniform("min_child_weight", 10, 1000),
        "seed": random_state,
        "n_jobs": n_jobs,
        "early_stopping_rounds": 50,
        "eval_metric": "rmse"
        
    }
    
    model = xgb.XGBRegressor(**params) 

    model.fit(
        X_train.drop("Date", axis = 1),
        y_train,
        eval_set=[(X_valid.drop("Date", axis = 1), y_valid)],
        verbose=0,
    )
    y_pred = pd.DataFrame(model.predict(X_valid.drop("Date", axis = 1)), columns =['Target'])
    return calc_score(X_valid, y_pred, y_valid, render_info= False)

In [ ]:
# break point
1/0

ZeroDivisionError: ignored

In [22]:
%%time
study = optuna.create_study(direction='maximize')
study.optimize(objective, n_trials=30)
print('Number of finished trials:', len(study.trials))
print('Best trial:', study.best_trial.params)

[I 2022-06-29 16:30:10,203] A new study created in memory with name: no-name-28af480b-4050-45fe-9298-b61486febe6f
[I 2022-06-29 16:30:30,797] Trial 0 finished with value: 0.15432092914304335 and parameters: {'n_estimators': 3, 'max_depth': 16, 'learning_rate': 0.026063240397830766, 'colsample_bytree': 0.4068903702886825, 'subsample': 0.6764831257764504, 'alpha': 0.18916435794660133, 'lambda': 0.00027495368834733105, 'min_child_weight': 79.16810838964635}. Best is trial 0 with value: 0.15432092914304335.
[I 2022-06-29 16:30:57,489] Trial 1 finished with value: 0.16737136041950887 and parameters: {'n_estimators': 7, 'max_depth': 13, 'learning_rate': 0.020932134755723687, 'colsample_bytree': 0.34659044946382245, 'subsample': 0.752533638979545, 'alpha': 6.213386815850906, 'lambda': 0.03155501452046849, 'min_child_weight': 187.42844975740292}. Best is trial 1 with value: 0.16737136041950887.
[I 2022-06-29 16:31:00,681] Trial 2 finished with value: 0.09069674183853481 and parameters: {'n_estimators': 1, 'max_depth': 16, 'learning_rate': 0.00828306690846313, 'colsample_bytree': 0.26568646226733655, 'subsample': 0.7694324722304509, 'alpha': 1.1825328327582474, 'lambda': 0.014197283783924623, 'min_child_weight': 87.90035092777589}. Best is trial 1 with value: 0.16737136041950887.
[I 2022-06-29 16:31:06,183] Trial 3 finished with value: 0.20813815053574644 and parameters: {'n_estimators': 3, 'max_depth': 7, 'learning_rate': 0.014428146619932289, 'colsample_bytree': 0.39104829497145316, 'subsample': 0.6628923516072892, 'alpha': 0.012655793944784112, 'lambda': 1.8660251796131164e-05, 'min_child_weight': 24.754316511296732}. Best is trial 3 with value: 0.20813815053574644.
[I 2022-06-29 16:31:10,139] Trial 4 finished with value: 0.11386794554197704 and parameters: {'n_estimators': 1, 'max_depth': 20, 'learning_rate': 0.0188835527477736, 'colsample_bytree': 0.21212793354062784, 'subsample': 0.6971869563916147, 'alpha': 1.181168474948833, 'lambda': 2.250105798498013e-06, 'min_child_weight': 315.17763702747067}. Best is trial 3 with value: 0.20813815053574644.
[I 2022-06-29 16:31:22,733] Trial 5 finished with value: 0.13548216265124116 and parameters: {'n_estimators': 3, 'max_depth': 15, 'learning_rate': 0.04128578125188031, 'colsample_bytree': 0.2759663033673631, 'subsample': 0.6323247429184373, 'alpha': 1.4023609542678848, 'lambda': 2.559410697563997, 'min_child_weight': 367.3056833341308}. Best is trial 3 with value: 0.20813815053574644.
[I 2022-06-29 16:32:30,100] Trial 6 finished with value: 0.10130635607433006 and parameters: {'n_estimators': 3, 'max_depth': 20, 'learning_rate': 0.04070075060231578, 'colsample_bytree': 0.3385525168203819, 'subsample': 0.6573456999318409, 'alpha': 0.016153518172615507, 'lambda': 0.0012037110742845044, 'min_child_weight': 20.54891288165134}. Best is trial 3 with value: 0.20813815053574644.
[I 2022-06-29 16:33:34,295] Trial 7 finished with value: 0.16290622044653172 and parameters: {'n_estimators': 8, 'max_depth': 15, 'learning_rate': 0.029167383866294104, 'colsample_bytree': 0.5905380205307027, 'subsample': 0.657338610312697, 'alpha': 0.01085336805504555, 'lambda': 0.00040875506491921823, 'min_child_weight': 23.87182782529889}. Best is trial 3 with value: 0.20813815053574644.
[I 2022-06-29 16:33:39,543] Trial 8 finished with value: 0.1769910088238142 and parameters: {'n_estimators': 4, 'max_depth': 5, 'learning_rate': 0.007757178436330796, 'colsample_bytree': 0.22099860839453417, 'subsample': 0.6331763253243282, 'alpha': 8.887120083349902, 'lambda': 7.507000970544099e-07, 'min_child_weight': 16.770583374981324}. Best is trial 3 with value: 0.20813815053574644.
[I 2022-06-29 16:33:42,720] Trial 9 finished with value: 0.12298010656063595 and parameters: {'n_estimators': 1, 'max_depth': 10, 'learning_rate': 0.014542588064713771, 'colsample_bytree': 0.39439662256376085, 'subsample': 0.6344457413564469, 'alpha': 0.3234579017429039, 'lambda': 0.004978750115767099, 'min_child_weight': 34.41552990567905}. Best is trial 3 with value: 0.20813815053574644.
[I 2022-06-29 16:33:52,879] Trial 10 finished with value: 0.1875142501173001 and parameters: {'n_estimators': 10, 'max_depth': 4, 'learning_rate': 0.005162489231962453, 'colsample_bytree': 0.5362328686927673, 'subsample': 0.7236926502128671, 'alpha': 0.05929085262191733, 'lambda': 5.268487882187228e-08, 'min_child_weight': 932.7759242217137}. Best is trial 3 with value: 0.20813815053574644.
[I 2022-06-29 16:34:03,041] Trial 11 finished with value: 0.19621363228072017 and parameters: {'n_estimators': 10, 'max_depth': 4, 'learning_rate': 0.0054631391194426455, 'colsample_bytree': 0.5901212170140937, 'subsample': 0.7190876214856111, 'alpha': 0.049945341693057276, 'lambda': 1.8101618642883865e-08, 'min_child_weight': 965.1496102295685}. Best is trial 3 with value: 0.20813815053574644.
[I 2022-06-29 16:34:12,802] Trial 12 finished with value: 0.20462255941100643 and parameters: {'n_estimators': 6, 'max_depth': 8, 'learning_rate': 0.011943856588102196, 'colsample_bytree': 0.4751761906597118, 'subsample': 0.7138865218350012, 'alpha': 0.042299182983695546, 'lambda': 1.223701245366917e-08, 'min_child_weight': 918.0584310220125}. Best is trial 3 with value: 0.20813815053574644.
[I 2022-06-29 16:34:23,640] Trial 13 finished with value: 0.19403278652651723 and parameters: {'n_estimators': 6, 'max_depth': 8, 'learning_rate': 0.012864314138203228, 'colsample_bytree': 0.47827097109491085, 'subsample': 0.7940828020967635, 'alpha': 0.03719353202168786, 'lambda': 9.868039806822278e-06, 'min_child_weight': 10.364216120006477}. Best is trial 3 with value: 0.20813815053574644.
[I 2022-06-29 16:34:32,409] Trial 14 finished with value: 0.2274957638982131 and parameters: {'n_estimators': 5, 'max_depth': 8, 'learning_rate': 0.01069230788854385, 'colsample_bytree': 0.45872454191106155, 'subsample': 0.6990937936180491, 'alpha': 0.15640945685307567, 'lambda': 2.5917834417959742e-05, 'min_child_weight': 52.40313196448726}. Best is trial 14 with value: 0.2274957638982131.
[I 2022-06-29 16:34:38,686] Trial 15 finished with value: 0.19435620145828666 and parameters: {'n_estimators': 4, 'max_depth': 7, 'learning_rate': 0.009445798202302513, 'colsample_bytree': 0.4160264072803436, 'subsample': 0.6015217129701066, 'alpha': 0.1560266764124297, 'lambda': 2.9320256550673274e-05, 'min_child_weight': 45.68916804907399}. Best is trial 14 with value: 0.2274957638982131.
[I 2022-06-29 16:34:49,760] Trial 16 finished with value: 0.1844312237867304 and parameters: {'n_estimators': 5, 'max_depth': 10, 'learning_rate': 0.010252939844260001, 'colsample_bytree': 0.3356078655967154, 'subsample': 0.6858280739728351, 'alpha': 0.3168057679853601, 'lambda': 5.007483031716278e-05, 'min_child_weight': 54.381121162224396}. Best is trial 14 with value: 0.2274957638982131.
[I 2022-06-29 16:34:57,189] Trial 17 finished with value: 0.23703714814007498 and parameters: {'n_estimators': 5, 'max_depth': 6, 'learning_rate': 0.01681374981485902, 'colsample_bytree': 0.46800630570537544, 'subsample': 0.6612851239732956, 'alpha': 0.02116732639687475, 'lambda': 3.747006727814721e-07, 'min_child_weight': 143.42715946748118}. Best is trial 17 with value: 0.23703714814007498.
[I 2022-06-29 16:35:19,127] Trial 18 finished with value: 0.17000732102203858 and parameters: {'n_estimators': 8, 'max_depth': 11, 'learning_rate': 0.01947929761378944, 'colsample_bytree': 0.49334763161431805, 'subsample': 0.7374977324974165, 'alpha': 0.10910888816390345, 'lambda': 6.745546337908389e-07, 'min_child_weight': 157.46863765259138}. Best is trial 17 with value: 0.23703714814007498.
[I 2022-06-29 16:35:25,878] Trial 19 finished with value: 0.2111345244551875 and parameters: {'n_estimators': 5, 'max_depth': 6, 'learning_rate': 0.006935067202598755, 'colsample_bytree': 0.4512583144026067, 'subsample': 0.6092055413641999, 'alpha': 0.6259900319367848, 'lambda': 1.6323611947687264e-07, 'min_child_weight': 125.62469676680233}. Best is trial 17 with value: 0.23703714814007498.
[I 2022-06-29 16:35:48,947] Trial 20 finished with value: 0.13334763665853597 and parameters: {'n_estimators': 7, 'max_depth': 13, 'learning_rate': 0.02901832133457814, 'colsample_bytree': 0.2959258248358709, 'subsample': 0.6964526531254908, 'alpha': 0.02710223215545687, 'lambda': 0.27042290445712924, 'min_child_weight': 284.645811933535}. Best is trial 17 with value: 0.23703714814007498.
[I 2022-06-29 16:35:55,543] Trial 21 finished with value: 0.20038944664912586 and parameters: {'n_estimators': 5, 'max_depth': 6, 'learning_rate': 0.006362871723851156, 'colsample_bytree': 0.4488060757574366, 'subsample': 0.6029655754105016, 'alpha': 0.5441976545490608, 'lambda': 4.0789559682972246e-07, 'min_child_weight': 141.6930872810702}. Best is trial 17 with value: 0.23703714814007498.
[I 2022-06-29 16:36:01,653] Trial 22 finished with value: 0.21116486491738143 and parameters: {'n_estimators': 4, 'max_depth': 9, 'learning_rate': 0.006956959018117055, 'colsample_bytree': 0.5276752629599972, 'subsample': 0.617842375306332, 'alpha': 3.7141668397148475, 'lambda': 2.1173183653567686e-07, 'min_child_weight': 65.42492666834048}. Best is trial 17 with value: 0.23703714814007498.
[I 2022-06-29 16:36:09,376] Trial 23 finished with value: 0.21416271457190433 and parameters: {'n_estimators': 4, 'max_depth': 9, 'learning_rate': 0.010398333399168862, 'colsample_bytree': 0.5272877281396013, 'subsample': 0.6252256626239224, 'alpha': 3.261480239750313, 'lambda': 3.800148920042714e-06, 'min_child_weight': 63.986634545962225}. Best is trial 17 with value: 0.23703714814007498.
[I 2022-06-29 16:36:13,397] Trial 24 finished with value: 0.17565525904764248 and parameters: {'n_estimators': 2, 'max_depth': 9, 'learning_rate': 0.01105918033405293, 'colsample_bytree': 0.5382310521084546, 'subsample': 0.6460861604908954, 'alpha': 2.435042572744954, 'lambda': 5.513096869126177e-06, 'min_child_weight': 40.322452972694975}. Best is trial 17 with value: 0.23703714814007498.
[I 2022-06-29 16:36:30,573] Trial 25 finished with value: 0.15548901110865923 and parameters: {'n_estimators': 6, 'max_depth': 11, 'learning_rate': 0.017010856437866907, 'colsample_bytree': 0.36783958106856435, 'subsample': 0.6229407061529002, 'alpha': 0.10527765302951575, 'lambda': 8.876507124338946e-05, 'min_child_weight': 104.84013477070613}. Best is trial 17 with value: 0.23703714814007498.
[I 2022-06-29 16:36:36,475] Trial 26 finished with value: 0.1805227808381807 and parameters: {'n_estimators': 4, 'max_depth': 6, 'learning_rate': 0.009048581440715322, 'colsample_bytree': 0.443091420302802, 'subsample': 0.674852404711142, 'alpha': 0.022035983243998136, 'lambda': 2.4416611190188833e-06, 'min_child_weight': 213.64129571878743}. Best is trial 17 with value: 0.23703714814007498.
[I 2022-06-29 16:36:48,853] Trial 27 finished with value: 0.11215853270932497 and parameters: {'n_estimators': 7, 'max_depth': 8, 'learning_rate': 0.023374724657409782, 'colsample_bytree': 0.5037795999891301, 'subsample': 0.645268490264406, 'alpha': 0.0893749946140616, 'lambda': 8.740682031363587e-08, 'min_child_weight': 65.02601664693738}. Best is trial 17 with value: 0.23703714814007498.
[I 2022-06-29 16:37:06,714] Trial 28 finished with value: 0.20524135540338745 and parameters: {'n_estimators': 5, 'max_depth': 12, 'learning_rate': 0.013344030600120653, 'colsample_bytree': 0.5528629205370307, 'subsample': 0.7061822982475842, 'alpha': 0.6208685173281959, 'lambda': 0.00012170505989414984, 'min_child_weight': 31.77894187387614}. Best is trial 17 with value: 0.23703714814007498.
[I 2022-06-29 16:37:10,686] Trial 29 finished with value: 0.13902948950614408 and parameters: {'n_estimators': 2, 'max_depth': 5, 'learning_rate': 0.01087669798657738, 'colsample_bytree': 0.42230772064781985, 'subsample': 0.6718806914757303, 'alpha': 0.2045904606040822, 'lambda': 0.0005248778115678375, 'min_child_weight': 479.4723607485157}. Best is trial 17 with value: 0.23703714814007498.

Number of finished trials: 30
Best trial: {'n_estimators': 5, 'max_depth': 6, 'learning_rate': 0.01681374981485902, 'colsample_bytree': 0.46800630570537544, 'subsample': 0.6612851239732956, 'alpha': 0.02116732639687475, 'lambda': 3.747006727814721e-07, 'min_child_weight': 143.42715946748118}
CPU times: user 6min 52s, sys: 9.74 s, total: 7min 2s
Wall time: 7min

In [27]:
best_params = {
  'n_estimators': 5, 
  'max_depth': 6, 
  'learning_rate': 0.01681374981485902, 
  'colsample_bytree': 0.46800630570537544, 
  'subsample': 0.6612851239732956, 
  'alpha': 0.02116732639687475, 
  'lambda': 3.747006727814721e-07, 
  'min_child_weight': 143.42715946748118,
  'early_stopping_rounds': 50,
  'eval_metric': 'rmse',
  'n_estimators': 1000,
  'n_jobs': -1,
  'objective': 'reg:squarederror',
  'seed': 22,
  'tree_method': 'gpu_hist',
  'verbosity': 0
}

best_params

{'alpha': 0.02116732639687475,
 'colsample_bytree': 0.46800630570537544,
 'early_stopping_rounds': 50,
 'eval_metric': 'rmse',
 'lambda': 3.747006727814721e-07,
 'learning_rate': 0.01681374981485902,
 'max_depth': 6,
 'min_child_weight': 143.42715946748118,
 'n_estimators': 1000,
 'n_jobs': -1,
 'objective': 'reg:squarederror',
 'seed': 22,
 'subsample': 0.6612851239732956,
 'tree_method': 'gpu_hist',
 'verbosity': 0}

In [28]:
best_params = study.best_trial.params
best_params['tree_method'] = 'gpu_hist'
best_params['verbosity'] = 0
best_params['objective'] = "reg:squarederror"
best_params['seed'] = 22
best_params['n_jobs'] = -1
best_params["early_stopping_rounds"] = 50
best_params["eval_metric"] = "rmse"

best_params

{'alpha': 0.02116732639687475,
 'colsample_bytree': 0.46800630570537544,
 'early_stopping_rounds': 50,
 'eval_metric': 'rmse',
 'lambda': 3.747006727814721e-07,
 'learning_rate': 0.01681374981485902,
 'max_depth': 6,
 'min_child_weight': 143.42715946748118,
 'n_estimators': 5,
 'n_jobs': -1,
 'objective': 'reg:squarederror',
 'seed': 22,
 'subsample': 0.6612851239732956,
 'tree_method': 'gpu_hist',
 'verbosity': 0}

In [29]:
%%time
model = xgb.XGBRegressor(**best_params) 

model.fit(
    X_train.drop("Date", axis = 1),
    y_train,
    eval_set=[(X_valid.drop("Date", axis = 1), y_valid)],
    verbose=0,
)

CPU times: user 1.86 s, sys: 301 ms, total: 2.16 s
Wall time: 2.14 s

In [30]:
%%time
y_pred = pd.DataFrame(model.predict(X_train.drop("Date", axis = 1)), columns =['Target'])
print(calc_score(X_train, y_pred, y_train, render_info= False))

0.10009867027947529
CPU times: user 3.26 s, sys: 264 ms, total: 3.53 s
Wall time: 3.5 s

In [31]:
np.sqrt(mean_squared_error(y_pred, y_train))

0.459679275214446

In [32]:
%%time
y_pred = pd.DataFrame(model.predict(X_valid.drop("Date", axis = 1)), columns =['Target'])
print(calc_score(X_valid, y_pred, y_valid, render_info= False))

0.11558036193766377
CPU times: user 416 ms, sys: 18 ms, total: 434 ms
Wall time: 429 ms

In [33]:
np.sqrt(mean_squared_error(y_pred, y_valid))

0.45965080818393295

In [35]:
%%time
y_pred = pd.DataFrame(model.predict(X_test.drop("Date", axis = 1)), columns =['Target'])
print(calc_score(X_test, y_pred, yTest_true, render_info= False))

0.05491410986293702
CPU times: user 356 ms, sys: 12 ms, total: 368 ms
Wall time: 364 ms

In [37]:
np.sqrt(mean_squared_error(y_pred, yTest_true))

0.4607718562986889

#### test pred hidden_test

In [42]:
hidden_test_df = pd.read_csv('../__input__/jpx-tokyo-stock-exchange-prediction/example_test_files/stock_prices.csv', nrows = None, parse_dates=['Date'])
mini_valid = pd.read_csv('../__input__/1_DataPreprocessing/mini_valid.csv', parse_dates=['Date'], nrows = None)

In [39]:
hidden_test_df

,RowId,Date,SecuritiesCode,Open,High,Low,Close,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag
0,20211206_1301,2021-12-06,1301,2982.0,2982.0,2965.0,2971.0,8900,1.0,NaN,False
1,20211206_1332,2021-12-06,1332,592.0,599.0,588.0,589.0,1360800,1.0,NaN,False
2,20211206_1333,2021-12-06,1333,2368.0,2388.0,2360.0,2377.0,125900,1.0,NaN,False
3,20211206_1375,2021-12-06,1375,1230.0,1239.0,1224.0,1224.0,81100,1.0,NaN,False
4,20211206_1376,2021-12-06,1376,1339.0,1372.0,1339.0,1351.0,6200,1.0,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...
3995,20211207_9990,2021-12-07,9990,526.0,535.0,524.0,535.0,57800,1.0,NaN,False
3996,20211207_9991,2021-12-07,9991,795.0,806.0,792.0,805.0,48500,1.0,NaN,False
3997,20211207_9993,2021-12-07,9993,1640.0,1640.0,1620.0,1620.0,6600,1.0,NaN,False
3998,20211207_9994,2021-12-07,9994,2437.0,2440.0,2423.0,2440.0,5200,1.0,NaN,False
3999,20211207_9997,2021-12-07,9997,711.0,719.0,706.0,719.0,204500,1.0,NaN,False

In [43]:
y_test_official = DataPreprocessing_for_HiddenTest(hidden_test_df, mini_valid)
y_test_official

,Date,SecuritiesCode,Open,High,Low,Close,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag
0,2021-12-06,1301,2982.0,2982.0,2965.0,2971.0,8900,1.0,-1.0,False
1,2021-12-06,1332,592.0,599.0,588.0,589.0,1360800,1.0,-1.0,False
2,2021-12-06,1333,2368.0,2388.0,2360.0,2377.0,125900,1.0,-1.0,False
3,2021-12-06,1375,1230.0,1239.0,1224.0,1224.0,81100,1.0,-1.0,False
4,2021-12-06,1376,1339.0,1372.0,1339.0,1351.0,6200,1.0,-1.0,False
...,...,...,...,...,...,...,...,...,...,...
3995,2021-12-07,9990,526.0,535.0,524.0,535.0,57800,1.0,-1.0,False
3996,2021-12-07,9991,795.0,806.0,792.0,805.0,48500,1.0,-1.0,False
3997,2021-12-07,9993,1640.0,1640.0,1620.0,1620.0,6600,1.0,-1.0,False
3998,2021-12-07,9994,2437.0,2440.0,2423.0,2440.0,5200,1.0,-1.0,False
3999,2021-12-07,9997,711.0,719.0,706.0,719.0,204500,1.0,-1.0,False

### Submission

In [ ]:
# import jpx_tokyo_market_prediction
# env = jpx_tokyo_market_prediction.make_env()
# iter_test = env.iter_test()
# for (df_test, options, financials, trades, secondary_prices, df_pred) in iter_test:
#     print(df_test.info())
#     print(df_test.head(10))
#     print(secondary_prices.head(10))
    
    
#     env_x_test = EDA_df_for_hidden_test(df_test, train_df)

#     env_y_pred =  pd.DataFrame(model.predict(env_x_test.drop("Date", axis = 1)), columns =['Target'])
    
#     df_pred['Target'] = env_y_pred
#     df_pred = add_rank(df_pred, env_y_pred)
    
#     submission = df_pred[["Date", "SecuritiesCode", "Rank"]]  
#     print(submission.columns)
#     env.predict(submission)