In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import xgboost as xgb
from sklearn.metrics import mean_squared_error
from typing import List

'''
None || 2000
'''
nb = None
nb_trains = nb
nb_valids = nb
nb_tests = None

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
cd drive/MyDrive/Projects/JPX_Tokyo_Stock/working

/content/drive/MyDrive/Projects/JPX_Tokyo_Stock/working

In [ ]:
! pip install optuna

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting optuna
  Downloading optuna-2.10.1-py3-none-any.whl (308 kB)
     |████████████████████████████████| 308 kB 7.5 MB/s
Requirement already satisfied: PyYAML in /usr/local/lib/python3.7/dist-packages (from optuna) (3.13)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from optuna) (4.64.0)
Collecting colorlog
  Downloading colorlog-6.6.0-py2.py3-none-any.whl (11 kB)
Collecting alembic
  Downloading alembic-1.8.0-py3-none-any.whl (209 kB)
     |████████████████████████████████| 209 kB 86.1 MB/s
Collecting cmaes>=0.8.2
  Downloading cmaes-0.8.2-py3-none-any.whl (15 kB)
Requirement already satisfied: scipy!=1.4.0 in /usr/local/lib/python3.7/dist-packages (from optuna) (1.4.1)
Collecting cliff
  Downloading cliff-3.10.1-py3-none-any.whl (81 kB)
     |████████████████████████████████| 81 kB 11.4 MB/s
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from optuna) (21.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from optuna) (1.21.6)
Requirement already satisfied: sqlalchemy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from optuna) (1.4.37)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->optuna) (3.0.9)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=1.1.0->optuna) (4.11.4)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=1.1.0->optuna) (1.1.2)
Requirement already satisfied: importlib-resources in /usr/local/lib/python3.7/dist-packages (from alembic->optuna) (5.7.1)
Collecting Mako
  Downloading Mako-1.2.0-py3-none-any.whl (78 kB)
     |████████████████████████████████| 78 kB 7.7 MB/s
Collecting pbr!=2.1.0,>=2.0.0
  Downloading pbr-5.9.0-py2.py3-none-any.whl (112 kB)
     |████████████████████████████████| 112 kB 64.1 MB/s
Collecting autopage>=0.4.0
  Downloading autopage-0.5.1-py3-none-any.whl (29 kB)
Collecting stevedore>=2.0.1
  Downloading stevedore-3.5.0-py3-none-any.whl (49 kB)
     |████████████████████████████████| 49 kB 7.2 MB/s
Requirement already satisfied: PrettyTable>=0.7.2 in /usr/local/lib/python3.7/dist-packages (from cliff->optuna) (3.3.0)
Collecting cmd2>=1.0.0
  Downloading cmd2-2.4.1-py3-none-any.whl (146 kB)
     |████████████████████████████████| 146 kB 65.3 MB/s
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna) (4.1.1)
Collecting pyperclip>=1.6
  Downloading pyperclip-1.8.2.tar.gz (20 kB)
Requirement already satisfied: attrs>=16.3.0 in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna) (21.4.0)
Requirement already satisfied: wcwidth>=0.1.7 in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna) (0.2.5)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy>=1.1.0->optuna) (3.8.0)
Requirement already satisfied: MarkupSafe>=0.9.2 in /usr/local/lib/python3.7/dist-packages (from Mako->alembic->optuna) (2.0.1)
Building wheels for collected packages: pyperclip
  Building wheel for pyperclip (setup.py) ... done
  Created wheel for pyperclip: filename=pyperclip-1.8.2-py3-none-any.whl size=11137 sha256=f5434d638cde266a4f4940cd27f79902591d4ffb407543a2f3ae6eaf09b8a3c5
  Stored in directory: /root/.cache/pip/wheels/9f/18/84/8f69f8b08169c7bae2dde6bd7daf0c19fca8c8e500ee620a28
Successfully built pyperclip
Installing collected packages: pyperclip, pbr, stevedore, Mako, cmd2, autopage, colorlog, cmaes, cliff, alembic, optuna
Successfully installed Mako-1.2.0 alembic-1.8.0 autopage-0.5.1 cliff-3.10.1 cmaes-0.8.2 cmd2-2.4.1 colorlog-6.6.0 optuna-2.10.1 pbr-5.9.0 pyperclip-1.8.2 stevedore-3.5.0

In [ ]:
import optuna
from data_utils import *

In [ ]:
train_df = pd.read_csv('../input/1_after_datapreprocessing/train_full.csv', parse_dates=['Date'], nrows = nb_trains)
valid_df = pd.read_csv('../input/1_after_datapreprocessing/valid_full.csv', parse_dates=['Date'], nrows = nb_valids)
test_df = pd.read_csv('../input/1_after_datapreprocessing/test_full.csv', parse_dates=['Date'], nrows = nb_tests)
y_test_df = pd.read_csv('../input/1_after_datapreprocessing/y_test_full.csv', parse_dates=['Date'], nrows = nb_tests)

### check info

In [ ]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4617191 entries, 0 to 4617190
Data columns (total 13 columns):
 #   Column            Dtype
---  ------            -----
 0   Date              datetime64[ns]
 1   SecuritiesCode    int64
 2   Volume            int64
 3   AdjustmentFactor  float64
 4   ExpectedDividend  float64
 5   SupervisionFlag   bool
 6   Target            float64
 7   CloseT2           float64
 8   Open              float64
 9   High              float64
 10  Low               float64
 11  Close             float64
 12  CloseT1           float64
dtypes: bool(1), datetime64[ns](1), float64(9), int64(2)
memory usage: 427.1 MB

In [ ]:
train_df.head(20)

,Date,SecuritiesCode,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,Target,CloseT2,Open,High,Low,Close,CloseT1
0,2017-01-04,1301,31400,1.0,-1.0,False,0.000730,2740.0,2734.0,2755.0,2730.0,2742.0,2738.0
1,2017-01-04,1332,2798500,1.0,-1.0,False,0.012324,575.0,568.0,576.0,563.0,571.0,568.0
2,2017-01-04,1333,270800,1.0,-1.0,False,0.006154,3270.0,3150.0,3210.0,3140.0,3210.0,3250.0
3,2017-01-04,1376,11300,1.0,-1.0,False,0.011053,1555.0,1510.0,1550.0,1510.0,1550.0,1538.0
4,2017-01-04,1377,150800,1.0,-1.0,False,0.003026,3315.0,3270.0,3350.0,3270.0,3330.0,3305.0
5,2017-01-04,1379,77300,1.0,-1.0,False,0.005169,2139.0,2105.0,2147.0,2101.0,2143.0,2128.0
6,2017-01-04,1381,1300,1.0,-1.0,False,-0.009326,1912.0,1950.0,1960.0,1949.0,1960.0,1930.0
7,2017-01-04,1407,147000,1.0,-1.0,False,-0.003437,882.0,857.0,877.0,851.0,866.0,885.0
8,2017-01-04,1414,119600,1.0,-1.0,False,0.000000,5030.0,4940.0,5060.0,4935.0,5050.0,5030.0
9,2017-01-04,1417,347500,1.0,-1.0,False,-0.007463,1064.0,1051.0,1063.0,1048.0,1053.0,1072.0
10,2017-01-04,1419,51600,1.0,-1.0,False,0.009259,545.0,526.0,535.0,526.0,535.0,540.0
11,2017-01-04,1429,24900,1.0,-1.0,False,0.007160,422.0,418.0,420.0,418.0,418.0,419.0
12,2017-01-04,1435,95700,1.0,-1.0,False,-0.023641,4130.0,4165.0,4180.0,4100.0,4165.0,4230.0
13,2017-01-04,1515,25200,1.0,-1.0,False,-0.026502,5510.0,5610.0,5740.0,5560.0,5720.0,5660.0
14,2017-01-04,1518,124300,1.0,-1.0,False,-0.007559,1313.0,1298.0,1340.0,1298.0,1330.0,1323.0
15,2017-01-04,1605,5927100,1.0,-1.0,False,-0.012414,1153.5,1182.5,1201.0,1180.0,1190.0,1168.0
16,2017-01-04,1662,532800,1.0,-1.0,False,-0.004915,2632.0,2629.0,2728.0,2629.0,2672.0,2645.0
17,2017-01-04,1663,27400,1.0,-1.0,False,0.006963,1880.0,1844.0,1871.0,1813.0,1871.0,1867.0
18,2017-01-04,1712,23300,1.0,-1.0,False,-0.008059,1477.0,1458.0,1490.0,1445.0,1483.0,1489.0
19,2017-01-04,1716,42600,1.0,-1.0,False,0.004916,1022.0,998.0,1024.0,998.0,1023.0,1017.0

In [ ]:
valid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233748 entries, 0 to 233747
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Date              233748 non-null  datetime64[ns]
 1   SecuritiesCode    233748 non-null  int64
 2   Volume            233748 non-null  int64
 3   AdjustmentFactor  233748 non-null  float64
 4   ExpectedDividend  233748 non-null  float64
 5   SupervisionFlag   233748 non-null  bool
 6   Target            233748 non-null  float64
 7   CloseT2           233748 non-null  float64
 8   Open              233748 non-null  float64
 9   High              233748 non-null  float64
 10  Low               233748 non-null  float64
 11  Close             233748 non-null  float64
 12  CloseT1           233748 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(9), int64(2)
memory usage: 21.6 MB

In [ ]:
valid_df.head(20)

,Date,SecuritiesCode,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,Target,CloseT2,Open,High,Low,Close,CloseT1
0,2021-12-06,1305,104900,1.0,-1.0,False,0.005013,2105.0,2061.5,2065.0,2041.5,2048.0,2094.5
1,2021-12-06,1306,1427480,1.0,-1.0,False,0.005793,2083.5,2037.0,2041.0,2018.5,2025.0,2071.5
2,2021-12-06,1308,110000,1.0,-1.0,False,0.005367,2060.5,2016.0,2019.5,1997.5,2004.5,2049.5
3,2021-12-06,1309,323,1.0,-1.0,False,0.005927,44130.0,43400.0,43710.0,43030.0,43190.0,43870.0
4,2021-12-06,1311,2030,1.0,-1.0,False,0.006300,974.4,952.1,953.4,943.5,947.5,968.3
5,2021-12-06,1312,27,1.0,-1.0,False,0.015174,20740.0,20315.0,20315.0,20260.0,20260.0,20430.0
6,2021-12-06,1313,60,1.0,-1.0,False,0.014121,3950.0,4020.0,4020.0,3810.0,3810.0,3895.0
7,2021-12-06,1319,3000,1.0,-1.0,False,0.015284,372.0,364.0,364.0,364.0,364.0,366.4
8,2021-12-06,1320,28860,1.0,-1.0,False,0.011389,29750.0,28825.0,28840.0,28510.0,28750.0,29415.0
9,2021-12-06,1321,98437,1.0,-1.0,False,0.010348,29780.0,28890.0,28900.0,28560.0,28810.0,29475.0
10,2021-12-06,1322,200,1.0,-1.0,False,0.013269,8400.0,8130.0,8150.0,8095.0,8095.0,8290.0
11,2021-12-06,1323,3100,1.0,-1.0,False,0.006095,478.7,469.0,475.0,464.9,471.0,475.8
12,2021-12-06,1324,24800,1.0,-1.0,False,0.024242,169.0,169.0,169.0,164.0,164.0,165.0
13,2021-12-06,1325,11000,1.0,-1.0,False,0.004828,166.5,162.9,164.6,161.1,164.3,165.7
14,2021-12-06,1326,5763,1.0,-1.0,False,0.002641,18985.0,18845.0,18880.0,18820.0,18850.0,18935.0
15,2021-12-06,1328,5500,1.0,-1.0,False,0.002735,5133.0,5090.0,5100.0,5088.0,5096.0,5119.0
16,2021-12-06,1329,11960,1.0,-1.0,False,0.009456,29890.0,29010.0,29030.0,28700.0,28945.0,29610.0
17,2021-12-06,1330,24070,1.0,-1.0,False,0.009487,29795.0,28925.0,28950.0,28605.0,28855.0,29515.0
18,2021-12-06,1343,243040,1.0,-1.0,False,0.010122,2195.5,2170.5,2175.0,2153.0,2158.0,2173.5
19,2021-12-06,1345,9700,1.0,-1.0,False,0.011209,2075.0,2046.5,2054.0,2034.5,2034.5,2052.0

In [ ]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229952 entries, 0 to 229951
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Date              229952 non-null  datetime64[ns]
 1   SecuritiesCode    229952 non-null  int64
 2   Volume            229952 non-null  int64
 3   AdjustmentFactor  229952 non-null  float64
 4   ExpectedDividend  229952 non-null  float64
 5   SupervisionFlag   229952 non-null  bool
 6   Open              229952 non-null  float64
 7   High              229952 non-null  float64
 8   Low               229952 non-null  float64
 9   Close             229952 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(6), int64(2)
memory usage: 16.0 MB

In [ ]:
test_df.head(20)

,Date,SecuritiesCode,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,Open,High,Low,Close
0,2021-12-06,1301,8900,1.0,-1.0,False,2982.0,2982.0,2965.0,2971.0
1,2021-12-06,1332,1360800,1.0,-1.0,False,592.0,599.0,588.0,589.0
2,2021-12-06,1333,125900,1.0,-1.0,False,2368.0,2388.0,2360.0,2377.0
3,2021-12-06,1375,81100,1.0,-1.0,False,1230.0,1239.0,1224.0,1224.0
4,2021-12-06,1376,6200,1.0,-1.0,False,1339.0,1372.0,1339.0,1351.0
5,2021-12-06,1377,77000,1.0,-1.0,False,3185.0,3215.0,3180.0,3200.0
6,2021-12-06,1379,48500,1.0,-1.0,False,1890.0,1898.0,1885.0,1889.0
7,2021-12-06,1381,1600,1.0,-1.0,False,3200.0,3200.0,3150.0,3150.0
8,2021-12-06,1407,246700,1.0,-1.0,False,6100.0,6290.0,6010.0,6220.0
9,2021-12-06,1413,9200,1.0,-1.0,False,2185.0,2211.0,2181.0,2190.0
10,2021-12-06,1414,121500,1.0,-1.0,False,5090.0,5110.0,5040.0,5060.0
11,2021-12-06,1417,209200,1.0,-1.0,False,2001.0,2019.0,1988.0,1991.0
12,2021-12-06,1419,123500,1.0,-1.0,False,2285.0,2289.0,2253.0,2288.0
13,2021-12-06,1429,33300,1.0,-1.0,False,709.0,714.0,704.0,712.0
14,2021-12-06,1431,43700,1.0,-1.0,False,831.0,862.0,818.0,837.0
15,2021-12-06,1435,209700,1.0,-1.0,False,226.0,227.0,221.0,222.0
16,2021-12-06,1515,12200,1.0,-1.0,False,6340.0,6360.0,6240.0,6310.0
17,2021-12-06,1518,453800,1.0,-1.0,False,1355.0,1380.0,1331.0,1332.0
18,2021-12-06,1605,9554500,1.0,-1.0,False,937.0,956.0,937.0,947.0
19,2021-12-06,1662,292000,1.0,-1.0,False,2385.0,2412.0,2361.0,2397.0

In [ ]:
y_test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229952 entries, 0 to 229951
Data columns (total 5 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   SecuritiesCode  229952 non-null  int64
 1   Date            229952 non-null  datetime64[ns]
 2   CloseT1         229952 non-null  float64
 3   CloseT2         229952 non-null  float64
 4   Target          229952 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1)
memory usage: 8.8 MB

In [ ]:
y_test_df.head(20)

    SecuritiesCode       Date  CloseT1  CloseT2    Target
0             1301 2021-12-06   3065.0   3055.0 -0.003263
1             1332 2021-12-06    556.0    551.0 -0.008993
2             1333 2021-12-06   2409.0   2385.0 -0.009963
3             1375 2021-12-06   1264.0   1245.0 -0.015032
4             1376 2021-12-06   1395.0   1399.0  0.002867
5             1377 2021-12-06   3285.0   3295.0  0.003044
6             1379 2021-12-06   1925.0   1906.0 -0.009870
7             1381 2021-12-06   3165.0   3165.0  0.000000
8             1407 2021-12-06   6340.0   6310.0 -0.004732
9             1413 2021-12-06   2250.0   2255.0  0.002222
10            1414 2021-12-06   5140.0   5090.0 -0.009728
11            1417 2021-12-06   2022.0   2001.0 -0.010386
12            1419 2021-12-06   2355.0   2311.0 -0.018684
13            1429 2021-12-06    747.0    743.0 -0.005355
14            1431 2021-12-06    865.0    863.0 -0.002312
15            1435 2021-12-06    233.0    235.0  0.008584
16            1515 2021-12-06   6410.0   6430.0  0.003120
17            1518 2021-12-06   1397.0   1420.0  0.016464
18            1605 2021-12-06    974.0    989.0  0.015400
19            1662 2021-12-06   2500.0   2575.0  0.030000

### Calc Scores

In [ ]:
def calc_spread_return_per_day(df, portfolio_size: int = 200, toprank_weight_ratio: float = 2):
    """
    Args:
        df (pd.DataFrame): predicted results
        portfolio_size (int): # of equities to buy/sell
        toprank_weight_ratio (float): the relative weight of the most highly ranked stock compared to the least.
    Returns:
        (float): spread return
    """
    assert df['Rank'].min() == 0
    assert df['Rank'].max() == len(df['Rank']) - 1
    weights = np.linspace(start=toprank_weight_ratio, stop=1, num=portfolio_size)
    purchase = (df.sort_values(by='Rank')['Target'][:portfolio_size] * weights).sum() / weights.mean()
    short = (df.sort_values(by='Rank', ascending=False)['Target'][:portfolio_size] * weights).sum() / weights.mean()
    return purchase - short

def calc_spread_return_sharpe(df: pd.DataFrame, portfolio_size: int = 200, toprank_weight_ratio: float = 2) -> float:
    """
    Args:
        df (pd.DataFrame): predicted results
        portfolio_size (int): # of equities to buy/sell
        toprank_weight_ratio (float): the relative weight of the most highly ranked stock compared to the least.
    Returns:
        (float): sharpe ratio
    """
    buf = df.groupby('Date').apply(calc_spread_return_per_day, portfolio_size, toprank_weight_ratio)
    sharpe_ratio = buf.mean() / buf.std()
    return sharpe_ratio, buf

def add_rank(df: pd.DataFrame, y_pred):
    df["Pred"] = y_pred
    df["Rank"] = df.groupby("Date")["Pred"].rank(ascending=False, method="first") - 1 
    df = df.drop("Pred", axis= 1)
    return df

In [ ]:
def calc_score(df: pd.DataFrame, y_pred: pd.DataFrame, y_true: pd.DataFrame, render_info= True):
    feature_df = df.copy()
    feature_df = add_rank(feature_df, y_pred)
    feature_df['Target'] = y_true
    score, buf = calc_spread_return_sharpe(feature_df)
    if render_info:
        print(f'score -> {score}\nmean -> {buf.mean()}\nstd -> {buf.std()}')
    return score

In [ ]:
calc_score(test_df, y_test_df["Target"], y_test_df["Target"])

score -> 4.687380919991682
mean -> 15.446241603409499
std -> 3.2952819211963917

4.687380919991682

### Cross Validation

In [ ]:
featureCols = train_df.drop(["Target", "CloseT1", "CloseT2"], axis = 1).columns
featureCols

Index(['Date', 'SecuritiesCode', 'Volume', 'AdjustmentFactor',
       'ExpectedDividend', 'SupervisionFlag', 'Open', 'High', 'Low', 'Close'],
      dtype='object')

In [ ]:
X_train = train_df[featureCols]
X_train["Date"] = X_train["Date"].astype(str)
y_train = train_df["Target"]

X_valid = valid_df[featureCols]
X_valid["Date"] = X_valid["Date"].astype(str)
y_valid = valid_df["Target"]

X_test = test_df[featureCols]
X_test["Date"] = X_test["Date"].astype(str)
y_test = y_test_df["Target"]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
calc_score(X_test, y_test, y_test)

score -> 4.687380919991682
mean -> 15.446241603409499
std -> 3.2952819211963917

4.687380919991682

#### Optuna tuning

In [ ]:
def objective(
    trial,
    random_state=22,
    n_jobs=-1,
):
    # XGBoost parameters
    params = {
        'tree_method':'gpu_hist',
        "verbosity": 0,  # 0 (silent) - 3 (debug)
        "objective": "reg:squarederror",
        "n_estimators": 1000,
        "max_depth": trial.suggest_int("max_depth", 4, 18),
        "learning_rate": trial.suggest_loguniform("learning_rate", 0.005, 0.05),
        "colsample_bytree": trial.suggest_loguniform("colsample_bytree", 0.2, 0.6),
        "subsample": trial.suggest_loguniform("subsample", 0.6, 0.8),
        "alpha": trial.suggest_loguniform("alpha", 0.01, 10.0),
        "lambda": trial.suggest_loguniform("lambda", 1e-8, 10.0),
        "gamma": trial.suggest_loguniform("lambda", 1e-8, 10.0),
        "min_child_weight": trial.suggest_loguniform("min_child_weight", 10, 1000),
        "seed": random_state,
        "n_jobs": n_jobs,
        "early_stopping_rounds": 50,
        "eval_metric": "rmse"
        
    }
    
    model = xgb.XGBRegressor(**params) 

    model.fit(
        X_train.drop("Date", axis = 1),
        y_train,
        eval_set=[(X_valid.drop("Date", axis = 1), y_valid)],
        verbose=0,
    )
    y_pred = pd.DataFrame(model.predict(X_valid.drop("Date", axis = 1)), columns =['Target'])
    return calc_score(X_valid, y_pred, y_valid, render_info= False)

In [ ]:
# break point
1/0

ZeroDivisionError: ignored

In [ ]:
%%time
study = optuna.create_study(direction='maximize')
study.optimize(objective, n_trials=30)
print('Number of finished trials:', len(study.trials))
print('Best trial:', study.best_trial.params)

[I 2022-06-15 14:12:12,290] A new study created in memory with name: no-name-cc37ad2d-0ac3-41ec-ad7a-1b2b938ad846
[I 2022-06-15 14:13:15,942] Trial 0 finished with value: 0.3787554351195579 and parameters: {'max_depth': 13, 'learning_rate': 0.009949828287618982, 'colsample_bytree': 0.4142624548860624, 'subsample': 0.7510682112526379, 'alpha': 0.9991101119871342, 'lambda': 3.074272408552209e-07, 'min_child_weight': 101.6765897770275}. Best is trial 0 with value: 0.3787554351195579.
[I 2022-06-15 14:13:40,989] Trial 1 finished with value: 0.3854950644551866 and parameters: {'max_depth': 6, 'learning_rate': 0.03944966287629853, 'colsample_bytree': 0.2804464183339555, 'subsample': 0.7485646953790775, 'alpha': 3.682057293336046, 'lambda': 1.6880175547694884e-08, 'min_child_weight': 28.795532941603714}. Best is trial 1 with value: 0.3854950644551866.
[I 2022-06-15 14:14:47,079] Trial 2 finished with value: 0.3845222891847453 and parameters: {'max_depth': 13, 'learning_rate': 0.01505882288257211, 'colsample_bytree': 0.5672560795499721, 'subsample': 0.787753351542988, 'alpha': 0.04852204214250744, 'lambda': 0.0018135544091992788, 'min_child_weight': 36.66231803822521}. Best is trial 1 with value: 0.3854950644551866.
[I 2022-06-15 14:15:14,511] Trial 3 finished with value: 0.4366397810907178 and parameters: {'max_depth': 7, 'learning_rate': 0.008800892351615337, 'colsample_bytree': 0.5551167755121948, 'subsample': 0.7820173381428758, 'alpha': 2.1164523546594403, 'lambda': 0.00024457292002587225, 'min_child_weight': 97.0739163776836}. Best is trial 3 with value: 0.4366397810907178.
[I 2022-06-15 14:15:35,824] Trial 4 finished with value: 0.4248513564444113 and parameters: {'max_depth': 4, 'learning_rate': 0.03469552093288177, 'colsample_bytree': 0.2230064367927166, 'subsample': 0.7961481068788943, 'alpha': 0.015091037265087544, 'lambda': 0.6352877478654005, 'min_child_weight': 36.218364956695375}. Best is trial 3 with value: 0.4366397810907178.
[I 2022-06-15 14:16:06,791] Trial 5 finished with value: 0.4527364438943302 and parameters: {'max_depth': 9, 'learning_rate': 0.007030390849775345, 'colsample_bytree': 0.23811220698658758, 'subsample': 0.7498178763888854, 'alpha': 2.271686747647737, 'lambda': 3.8222825730451374e-08, 'min_child_weight': 600.3290042239463}. Best is trial 5 with value: 0.4527364438943302.
[I 2022-06-15 14:16:41,085] Trial 6 finished with value: 0.47250469861662847 and parameters: {'max_depth': 11, 'learning_rate': 0.03386141413143176, 'colsample_bytree': 0.2094792165837191, 'subsample': 0.6246244338919174, 'alpha': 0.018059173074789, 'lambda': 2.362467695251705e-06, 'min_child_weight': 26.655961486533872}. Best is trial 6 with value: 0.47250469861662847.
[I 2022-06-15 14:18:26,352] Trial 7 finished with value: 0.3563283698790883 and parameters: {'max_depth': 16, 'learning_rate': 0.022407437954944442, 'colsample_bytree': 0.2362208306749931, 'subsample': 0.6347348227597798, 'alpha': 0.11746767705291768, 'lambda': 2.1162411152211412e-07, 'min_child_weight': 79.75082964392222}. Best is trial 6 with value: 0.47250469861662847.
[I 2022-06-15 14:20:47,280] Trial 8 finished with value: 0.3552672375313769 and parameters: {'max_depth': 18, 'learning_rate': 0.03938896874104015, 'colsample_bytree': 0.5617205470393114, 'subsample': 0.7599767737335287, 'alpha': 0.04317695678898922, 'lambda': 0.00012085012411951426, 'min_child_weight': 115.8264388999546}. Best is trial 6 with value: 0.47250469861662847.
[I 2022-06-15 14:21:54,073] Trial 9 finished with value: 0.4420459686122034 and parameters: {'max_depth': 16, 'learning_rate': 0.005335836325723381, 'colsample_bytree': 0.34756821504502133, 'subsample': 0.7928672822461206, 'alpha': 0.014109003205907458, 'lambda': 3.226589647042286e-05, 'min_child_weight': 484.6948016512311}. Best is trial 6 with value: 0.47250469861662847.
[I 2022-06-15 14:22:42,373] Trial 10 finished with value: 0.3836193218583099 and parameters: {'max_depth': 11, 'learning_rate': 0.02229414726759835, 'colsample_bytree': 0.3193871109716543, 'subsample': 0.6079173880137799, 'alpha': 0.39305968790704443, 'lambda': 0.041709915508103365, 'min_child_weight': 12.853925612491096}. Best is trial 6 with value: 0.47250469861662847.
[I 2022-06-15 14:23:09,481] Trial 11 finished with value: 0.3777208147606619 and parameters: {'max_depth': 10, 'learning_rate': 0.005696758984782467, 'colsample_bytree': 0.206298731289946, 'subsample': 0.6925415449340547, 'alpha': 9.339103462420917, 'lambda': 2.2890746622888145e-06, 'min_child_weight': 993.0345380444038}. Best is trial 6 with value: 0.47250469861662847.
[I 2022-06-15 14:23:42,010] Trial 12 finished with value: 0.42034732742748543 and parameters: {'max_depth': 9, 'learning_rate': 0.011544869583176931, 'colsample_bytree': 0.25588749178101167, 'subsample': 0.6951903351636635, 'alpha': 0.24940347402991822, 'lambda': 1.2572898104064858e-08, 'min_child_weight': 387.8846435607912}. Best is trial 6 with value: 0.47250469861662847.
[I 2022-06-15 14:24:09,598] Trial 13 finished with value: 0.4490712533684678 and parameters: {'max_depth': 8, 'learning_rate': 0.023706663043185264, 'colsample_bytree': 0.2040007812145475, 'subsample': 0.6985411951583349, 'alpha': 0.7385735042388845, 'lambda': 2.8707094365001397e-06, 'min_child_weight': 11.727985784333764}. Best is trial 6 with value: 0.47250469861662847.
[I 2022-06-15 14:24:58,552] Trial 14 finished with value: 0.4591979632800878 and parameters: {'max_depth': 13, 'learning_rate': 0.007286421519718503, 'colsample_bytree': 0.28236801609142603, 'subsample': 0.6562395774666483, 'alpha': 8.474187828861375, 'lambda': 4.604693451572415e-06, 'min_child_weight': 240.06172337975147}. Best is trial 6 with value: 0.47250469861662847.
[I 2022-06-15 14:25:52,493] Trial 15 finished with value: 0.41743637174616227 and parameters: {'max_depth': 13, 'learning_rate': 0.015600789710200643, 'colsample_bytree': 0.29746852854255584, 'subsample': 0.6509492458856031, 'alpha': 0.07779387086384204, 'lambda': 1.0660844078047659e-05, 'min_child_weight': 251.37477215020675}. Best is trial 6 with value: 0.47250469861662847.
[I 2022-06-15 14:27:02,991] Trial 16 finished with value: 0.3494293533184707 and parameters: {'max_depth': 14, 'learning_rate': 0.029667902174309344, 'colsample_bytree': 0.38466847215022876, 'subsample': 0.6513380588399219, 'alpha': 0.010465541959792907, 'lambda': 0.003924307946819052, 'min_child_weight': 237.4858097284473}. Best is trial 6 with value: 0.47250469861662847.
[I 2022-06-15 14:27:51,684] Trial 17 finished with value: 0.3476903341021597 and parameters: {'max_depth': 11, 'learning_rate': 0.04923586482952553, 'colsample_bytree': 0.2655254225524098, 'subsample': 0.6078763071977468, 'alpha': 8.747683595737659, 'lambda': 3.5446428447578353e-07, 'min_child_weight': 21.773945400399693}. Best is trial 6 with value: 0.47250469861662847.
[I 2022-06-15 14:29:24,378] Trial 18 finished with value: 0.3381037499675245 and parameters: {'max_depth': 15, 'learning_rate': 0.012563547356028024, 'colsample_bytree': 0.449491919925629, 'subsample': 0.6701127090915195, 'alpha': 0.18668240464885852, 'lambda': 4.905355733423743, 'min_child_weight': 64.30455626914852}. Best is trial 6 with value: 0.47250469861662847.
[I 2022-06-15 14:30:08,847] Trial 19 finished with value: 0.42793902254424077 and parameters: {'max_depth': 12, 'learning_rate': 0.00793042987414591, 'colsample_bytree': 0.3245132034486625, 'subsample': 0.6285410106488903, 'alpha': 0.5074706641220725, 'lambda': 1.4585408650927013e-05, 'min_child_weight': 182.18208301834295}. Best is trial 6 with value: 0.47250469861662847.
[I 2022-06-15 14:32:56,448] Trial 20 finished with value: 0.32535727185224445 and parameters: {'max_depth': 18, 'learning_rate': 0.018644414750464997, 'colsample_bytree': 0.2555786635178739, 'subsample': 0.6692732618022863, 'alpha': 0.02779093852670567, 'lambda': 0.0023973018071053796, 'min_child_weight': 48.20816366519834}. Best is trial 6 with value: 0.47250469861662847.
[I 2022-06-15 14:33:29,246] Trial 21 finished with value: 0.4404938857912978 and parameters: {'max_depth': 10, 'learning_rate': 0.006658643556213782, 'colsample_bytree': 0.22962158118479886, 'subsample': 0.7195479437431427, 'alpha': 3.0733096679121026, 'lambda': 6.43756989417794e-08, 'min_child_weight': 917.6381812715778}. Best is trial 6 with value: 0.47250469861662847.
[I 2022-06-15 14:33:59,521] Trial 22 finished with value: 0.4497352742702839 and parameters: {'max_depth': 9, 'learning_rate': 0.006972680966421581, 'colsample_bytree': 0.2399323032517386, 'subsample': 0.6182404312905142, 'alpha': 1.7681262538696139, 'lambda': 1.59505730400169e-06, 'min_child_weight': 521.3630527281427}. Best is trial 6 with value: 0.47250469861662847.
[I 2022-06-15 14:34:22,322] Trial 23 finished with value: 0.4175552911038948 and parameters: {'max_depth': 5, 'learning_rate': 0.011343220709798688, 'colsample_bytree': 0.28591913524176976, 'subsample': 0.6473082481825883, 'alpha': 5.613083291266322, 'lambda': 7.583382615968347e-08, 'min_child_weight': 170.74628781158}. Best is trial 6 with value: 0.47250469861662847.
[I 2022-06-15 14:34:51,859] Trial 24 finished with value: 0.39317930009543667 and parameters: {'max_depth': 11, 'learning_rate': 0.006610160564477782, 'colsample_bytree': 0.20050639022637187, 'subsample': 0.7273859753215552, 'alpha': 1.3974153182849678, 'lambda': 1.394826181081426e-06, 'min_child_weight': 676.3190574280715}. Best is trial 6 with value: 0.47250469861662847.
[I 2022-06-15 14:35:18,200] Trial 25 finished with value: 0.4015777563631845 and parameters: {'max_depth': 8, 'learning_rate': 0.009130115928233888, 'colsample_bytree': 0.21877515913346424, 'subsample': 0.6735591588103953, 'alpha': 4.4299204721741425, 'lambda': 4.96706788133725e-05, 'min_child_weight': 17.458402318281692}. Best is trial 6 with value: 0.47250469861662847.
[I 2022-06-15 14:36:00,798] Trial 26 finished with value: 0.4531095829994537 and parameters: {'max_depth': 12, 'learning_rate': 0.007728023581559732, 'colsample_bytree': 0.2501339906155996, 'subsample': 0.6358677869068311, 'alpha': 6.582122087620958, 'lambda': 5.4448255269782744e-08, 'min_child_weight': 313.7561045980826}. Best is trial 6 with value: 0.47250469861662847.
[I 2022-06-15 14:36:45,977] Trial 27 finished with value: 0.45332490667257297 and parameters: {'max_depth': 14, 'learning_rate': 0.005068439083537914, 'colsample_bytree': 0.3057681499201465, 'subsample': 0.6319297248847283, 'alpha': 5.431550323758457, 'lambda': 6.277451695425761e-06, 'min_child_weight': 319.48705308872167}. Best is trial 6 with value: 0.47250469861662847.
[I 2022-06-15 14:37:44,900] Trial 28 finished with value: 0.43519449249241454 and parameters: {'max_depth': 15, 'learning_rate': 0.005450295839648066, 'colsample_bytree': 0.3098661120171803, 'subsample': 0.620371681623236, 'alpha': 0.14601386620250795, 'lambda': 5.459600766322382e-06, 'min_child_weight': 140.83284879063194}. Best is trial 6 with value: 0.47250469861662847.
[I 2022-06-15 14:38:46,859] Trial 29 finished with value: 0.4251862626635709 and parameters: {'max_depth': 14, 'learning_rate': 0.009792850101686124, 'colsample_bytree': 0.3926911905301604, 'subsample': 0.659731146713018, 'alpha': 0.9207237295425982, 'lambda': 4.04801251004648e-07, 'min_child_weight': 315.9930197936721}. Best is trial 6 with value: 0.47250469861662847.

Number of finished trials: 30
Best trial: {'max_depth': 11, 'learning_rate': 0.03386141413143176, 'colsample_bytree': 0.2094792165837191, 'subsample': 0.6246244338919174, 'alpha': 0.018059173074789, 'lambda': 2.362467695251705e-06, 'min_child_weight': 26.655961486533872}
CPU times: user 26min 19s, sys: 24.6 s, total: 26min 43s
Wall time: 26min 34s

In [ ]:
best_params = {
  'max_depth': 11, 
  'learning_rate': 0.03386141413143176, 
  'colsample_bytree': 0.2094792165837191, 
  'subsample': 0.6246244338919,
  'lambda': 2.362467695251705e-06, 
  'min_child_weight': 26.655961486533872,
  'early_stopping_rounds': 50,
  'eval_metric': 'rmse',
  'n_estimators': 1000,
  'n_jobs': -1,
  'objective': 'reg:squarederror',
  'seed': 22,
  'tree_method': 'gpu_hist',
  'verbosity': 0
}

best_params

{'colsample_bytree': 0.2094792165837191,
 'early_stopping_rounds': 50,
 'eval_metric': 'rmse',
 'lambda': 2.362467695251705e-06,
 'learning_rate': 0.03386141413143176,
 'max_depth': 11,
 'min_child_weight': 26.655961486533872,
 'n_estimators': 1000,
 'n_jobs': -1,
 'objective': 'reg:squarederror',
 'seed': 22,
 'subsample': 0.6246244338919,
 'tree_method': 'gpu_hist',
 'verbosity': 0}

In [ ]:
# best_params = study.best_trial.params
# best_params['tree_method'] = 'gpu_hist'
# best_params['verbosity'] = 0
# best_params['objective'] = "reg:squarederror"
# best_params['n_estimators'] = 1000
# best_params['seed'] = 22
# best_params['n_jobs'] = -1
# best_params["early_stopping_rounds"] = 50
# best_params["eval_metric"] = "rmse"

# best_params

In [ ]:
%%time
model = xgb.XGBRegressor(**best_params) 

model.fit(
    X_train.drop("Date", axis = 1),
    y_train,
    eval_set=[(X_valid.drop("Date", axis = 1), y_valid)],
    verbose=0,
)

CPU times: user 48.5 s, sys: 1.09 s, total: 49.6 s
Wall time: 49.7 s

In [ ]:
%%time
y_pred = pd.DataFrame(model.predict(X_train.drop("Date", axis = 1)), columns =['Target'])
print(calc_score(X_train, y_pred, y_train, render_info= False))

0.4495844651242038
CPU times: user 10.1 s, sys: 711 ms, total: 10.9 s
Wall time: 10.8 s

In [ ]:
np.sqrt(mean_squared_error(y_pred, y_train))

0.026191447718626668

In [ ]:
%%time
y_pred = pd.DataFrame(model.predict(X_valid.drop("Date", axis = 1)), columns =['Target'])
print(calc_score(X_valid, y_pred, y_valid, render_info= False))

0.4755083462004289
CPU times: user 620 ms, sys: 30.1 ms, total: 650 ms
Wall time: 645 ms

In [ ]:
np.sqrt(mean_squared_error(y_pred, y_valid))

0.028124388605469668

In [ ]:
%%time
y_pred = pd.DataFrame(model.predict(X_test.drop("Date", axis = 1)), columns =['Target'])
print(calc_score(X_test, y_pred, y_test, render_info= False))

0.05669352816907126
CPU times: user 626 ms, sys: 33 ms, total: 659 ms
Wall time: 653 ms

In [ ]:
np.sqrt(mean_squared_error(y_pred, y_test))

0.024271618342734867

#### test pred official_test

In [ ]:
official_test_df = pd.read_csv('../input/jpx-tokyo-stock-exchange-prediction/example_test_files/stock_prices.csv', nrows = None, parse_dates=['Date'])
mini_train_after_dataPreprocessing = pd.read_csv('../input/1_after_datapreprocessing/mini_train.csv', parse_dates=['Date'], nrows = None)

In [ ]:
official_test_df

,RowId,Date,SecuritiesCode,Open,High,Low,Close,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag
0,20211206_1301,2021-12-06,1301,2982.0,2982.0,2965.0,2971.0,8900,1.0,NaN,False
1,20211206_1332,2021-12-06,1332,592.0,599.0,588.0,589.0,1360800,1.0,NaN,False
2,20211206_1333,2021-12-06,1333,2368.0,2388.0,2360.0,2377.0,125900,1.0,NaN,False
3,20211206_1375,2021-12-06,1375,1230.0,1239.0,1224.0,1224.0,81100,1.0,NaN,False
4,20211206_1376,2021-12-06,1376,1339.0,1372.0,1339.0,1351.0,6200,1.0,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...
3995,20211207_9990,2021-12-07,9990,526.0,535.0,524.0,535.0,57800,1.0,NaN,False
3996,20211207_9991,2021-12-07,9991,795.0,806.0,792.0,805.0,48500,1.0,NaN,False
3997,20211207_9993,2021-12-07,9993,1640.0,1640.0,1620.0,1620.0,6600,1.0,NaN,False
3998,20211207_9994,2021-12-07,9994,2437.0,2440.0,2423.0,2440.0,5200,1.0,NaN,False
3999,20211207_9997,2021-12-07,9997,711.0,719.0,706.0,719.0,204500,1.0,NaN,False

In [ ]:
y_test_official = DataPreprocessing_for_official_test(official_test_df, mini_train_after_dataPreprocessing)
y_test_official

/content/drive/MyDrive/Projects/JPX_Tokyo_Stock/working/data_utils.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_return['ExpectedDividend'] = df_return['ExpectedDividend'].fillna(-1)

,Date,SecuritiesCode,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,Open,High,Low,Close
0,2021-12-06,1301,8900,1.0,-1.0,False,2982.0,2982.0,2965.0,2971.0
1,2021-12-06,1332,1360800,1.0,-1.0,False,592.0,599.0,588.0,589.0
2,2021-12-06,1333,125900,1.0,-1.0,False,2368.0,2388.0,2360.0,2377.0
3,2021-12-06,1375,81100,1.0,-1.0,False,1230.0,1239.0,1224.0,1224.0
4,2021-12-06,1376,6200,1.0,-1.0,False,1339.0,1372.0,1339.0,1351.0
...,...,...,...,...,...,...,...,...,...,...
3995,2021-12-07,9990,57800,1.0,-1.0,False,526.0,535.0,524.0,535.0
3996,2021-12-07,9991,48500,1.0,-1.0,False,795.0,806.0,792.0,805.0
3997,2021-12-07,9993,6600,1.0,-1.0,False,1640.0,1640.0,1620.0,1620.0
3998,2021-12-07,9994,5200,1.0,-1.0,False,2437.0,2440.0,2423.0,2440.0
3999,2021-12-07,9997,204500,1.0,-1.0,False,711.0,719.0,706.0,719.0

### Submission

In [ ]:
# import jpx_tokyo_market_prediction
# env = jpx_tokyo_market_prediction.make_env()
# iter_test = env.iter_test()
# for (df_test, options, financials, trades, secondary_prices, df_pred) in iter_test:
#     print(df_test.info())
#     print(df_test.head(10))
#     print(secondary_prices.head(10))
    
    
#     env_x_test = EDA_df_for_official_Test(df_test, train_df)

#     env_y_pred =  pd.DataFrame(model.predict(env_x_test.drop("Date", axis = 1)), columns =['Target'])
    
#     df_pred['Target'] = env_y_pred
#     df_pred = add_rank(df_pred, env_y_pred)
    
#     submission = df_pred[["Date", "SecuritiesCode", "Rank"]]  
#     print(submission.columns)
#     env.predict(submission)