In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from typing import List

'''
None || 20000 || 100000
'''
nb = None
nb_trains = nb
nb_valids = nb
nb_tests = nb

N_past = 10

In [2]:
from data_utils import *

#### Load Data

In [3]:
train_df = pd.read_csv('../__input__/1_DataPreprocessing/train_df.csv', parse_dates=['Date'], nrows = nb_trains)
valid_df = pd.read_csv('../__input__/1_DataPreprocessing/valid_df.csv', parse_dates=['Date'], nrows = nb_trains)
test_df = pd.read_csv('../__input__/1_DataPreprocessing/test_df.csv', parse_dates=['Date'], nrows = nb_trains)

snd_train_df = pd.read_csv('../__input__/1_DataPreprocessing/snd_train_df.csv', parse_dates=['Date'], nrows = nb_trains)
snd_valid_df = pd.read_csv('../__input__/1_DataPreprocessing/snd_valid_df.csv', parse_dates=['Date'], nrows = nb_trains)
snd_test_df = pd.read_csv('../__input__/1_DataPreprocessing/snd_test_df.csv', parse_dates=['Date'], nrows = nb_trains)

In [4]:
mini_train = pd.read_csv('../__input__/1_DataPreprocessing/mini_train.csv', parse_dates=['Date'], nrows = nb_trains)
mini_valid = pd.read_csv('../__input__/1_DataPreprocessing/mini_valid.csv', parse_dates=['Date'], nrows = nb_trains)

In [5]:
hidden_test = pd.read_csv('../__input__/jpx-tokyo-stock-exchange-prediction/example_test_files/stock_prices.csv', nrows = nb_tests, parse_dates=['Date'])

In [6]:
hidden_test = DataPreprocessing_for_HiddenTest(hidden_test, mini_valid)

In [7]:
train_df.info(null_counts= True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1863182 entries, 0 to 1863181
Data columns (total 13 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Date              1863182 non-null  datetime64[ns]
 1   SecuritiesCode    1863182 non-null  int64
 2   ExpectedDividend  1863182 non-null  float64
 3   AdjustmentFactor  1863182 non-null  float64
 4   SupervisionFlag   1863182 non-null  bool
 5   Volume            1863182 non-null  int64
 6   Open              1863182 non-null  float64
 7   High              1863182 non-null  float64
 8   Low               1863182 non-null  float64
 9   Close             1863182 non-null  float64
 10  Target            1863182 non-null  float64
 11  CloseT1           1863182 non-null  float64
 12  CloseT2           1863182 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(9), int64(2)
memory usage: 172.4 MB

In [8]:
valid_df.info(null_counts= True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232663 entries, 0 to 232662
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Date              232663 non-null  datetime64[ns]
 1   SecuritiesCode    232663 non-null  int64
 2   ExpectedDividend  232663 non-null  float64
 3   AdjustmentFactor  232663 non-null  float64
 4   SupervisionFlag   232663 non-null  bool
 5   Volume            232663 non-null  int64
 6   Open              232663 non-null  float64
 7   High              232663 non-null  float64
 8   Low               232663 non-null  float64
 9   Close             232663 non-null  float64
 10  Target            232663 non-null  float64
 11  CloseT1           232663 non-null  float64
 12  CloseT2           232663 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(9), int64(2)
memory usage: 21.5 MB

In [9]:
test_df.info(null_counts= True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198663 entries, 0 to 198662
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Date              198663 non-null  datetime64[ns]
 1   SecuritiesCode    198663 non-null  int64
 2   ExpectedDividend  198663 non-null  float64
 3   AdjustmentFactor  198663 non-null  float64
 4   SupervisionFlag   198663 non-null  bool
 5   Volume            198663 non-null  int64
 6   Open              198663 non-null  float64
 7   High              198663 non-null  float64
 8   Low               198663 non-null  float64
 9   Close             198663 non-null  float64
 10  Target            198663 non-null  float64
 11  CloseT1           198663 non-null  float64
 12  CloseT2           198663 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(9), int64(2)
memory usage: 18.4 MB

In [10]:
mini_train.info(null_counts= True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              6000 non-null   datetime64[ns]
 1   SecuritiesCode    6000 non-null   int64
 2   ExpectedDividend  6000 non-null   float64
 3   AdjustmentFactor  6000 non-null   float64
 4   SupervisionFlag   6000 non-null   bool
 5   Volume            6000 non-null   int64
 6   Open              6000 non-null   float64
 7   High              6000 non-null   float64
 8   Low               6000 non-null   float64
 9   Close             6000 non-null   float64
 10  Target            6000 non-null   float64
 11  CloseT1           6000 non-null   float64
 12  CloseT2           6000 non-null   float64
dtypes: bool(1), datetime64[ns](1), float64(9), int64(2)
memory usage: 568.5 KB

In [11]:
mini_valid.info(null_counts= True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              6000 non-null   datetime64[ns]
 1   SecuritiesCode    6000 non-null   int64
 2   ExpectedDividend  6000 non-null   float64
 3   AdjustmentFactor  6000 non-null   float64
 4   SupervisionFlag   6000 non-null   bool
 5   Volume            6000 non-null   int64
 6   Open              6000 non-null   float64
 7   High              6000 non-null   float64
 8   Low               6000 non-null   float64
 9   Close             6000 non-null   float64
 10  Target            6000 non-null   float64
 11  CloseT1           6000 non-null   float64
 12  CloseT2           6000 non-null   float64
dtypes: bool(1), datetime64[ns](1), float64(9), int64(2)
memory usage: 568.5 KB

In [12]:
hidden_test.info(null_counts= True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              4000 non-null   datetime64[ns]
 1   SecuritiesCode    4000 non-null   int64
 2   Open              4000 non-null   float64
 3   High              4000 non-null   float64
 4   Low               4000 non-null   float64
 5   Close             4000 non-null   float64
 6   Volume            4000 non-null   int64
 7   AdjustmentFactor  4000 non-null   float64
 8   ExpectedDividend  4000 non-null   float64
 9   SupervisionFlag   4000 non-null   bool
dtypes: bool(1), datetime64[ns](1), float64(6), int64(2)
memory usage: 285.3 KB

#### Merge Data

In [13]:
merge_df = pd.concat([train_df, valid_df, test_df]).reset_index(drop= True)
snd_merge_df = pd.concat([snd_train_df, snd_valid_df, snd_test_df]).reset_index(drop= True)
del train_df, valid_df, test_df, snd_train_df, snd_valid_df, snd_test_df

In [14]:
merge_df.info(null_counts= True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2294508 entries, 0 to 2294507
Data columns (total 13 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Date              2294508 non-null  datetime64[ns]
 1   SecuritiesCode    2294508 non-null  int64
 2   ExpectedDividend  2294508 non-null  float64
 3   AdjustmentFactor  2294508 non-null  float64
 4   SupervisionFlag   2294508 non-null  bool
 5   Volume            2294508 non-null  int64
 6   Open              2294508 non-null  float64
 7   High              2294508 non-null  float64
 8   Low               2294508 non-null  float64
 9   Close             2294508 non-null  float64
 10  Target            2294508 non-null  float64
 11  CloseT1           2294508 non-null  float64
 12  CloseT2           2294508 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(9), int64(2)
memory usage: 212.3 MB

In [15]:
snd_merge_df.info(null_counts= True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2192501 entries, 0 to 2192500
Data columns (total 13 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Date              2192501 non-null  datetime64[ns]
 1   SecuritiesCode    2192501 non-null  int64
 2   ExpectedDividend  2192501 non-null  float64
 3   AdjustmentFactor  2192501 non-null  float64
 4   SupervisionFlag   2192501 non-null  bool
 5   Volume            2192501 non-null  int64
 6   Open              2192501 non-null  float64
 7   High              2192501 non-null  float64
 8   Low               2192501 non-null  float64
 9   Close             2192501 non-null  float64
 10  Target            2192501 non-null  float64
 11  CloseT1           2192501 non-null  float64
 12  CloseT2           2192501 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(9), int64(2)
memory usage: 202.8 MB

#### Feature Engineering

- Diff between High and Low: Range_HL
- Diff between Open and Close: Range_OC

In [16]:
def add_range_hl_oc(df: pd.DataFrame):
    df['Range_HL'] = df['High'] - df['Low']
    df['Range_OC'] = df['Open'] - df['Close']
    df.drop(['High', 'Low', 'Open'], axis = 1, inplace= True)

In [17]:
add_range_hl_oc(merge_df)
add_range_hl_oc(snd_merge_df)

In [18]:
merge_df

,Date,SecuritiesCode,ExpectedDividend,AdjustmentFactor,SupervisionFlag,Volume,Close,Target,CloseT1,CloseT2,Range_HL,Range_OC
0,2017-01-04,1301,-1.0,1.0,False,31400,2742.0,0.000730,2738.0,2740.0,25.0,-8.0
1,2017-01-04,1332,-1.0,1.0,False,2798500,571.0,0.012324,568.0,575.0,13.0,-3.0
2,2017-01-04,1333,-1.0,1.0,False,270800,3210.0,0.006154,3250.0,3270.0,70.0,-60.0
3,2017-01-04,1376,-1.0,1.0,False,11300,1550.0,0.011053,1538.0,1555.0,40.0,-40.0
4,2017-01-04,1377,-1.0,1.0,False,150800,3330.0,0.003026,3305.0,3315.0,80.0,-60.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2294503,2022-05-25,9990,-1.0,1.0,False,48300,535.0,0.051002,549.0,577.0,8.0,-4.0
2294504,2022-05-25,9991,-1.0,1.0,False,26100,811.0,0.008621,812.0,819.0,11.0,-11.0
2294505,2022-05-25,9993,-1.0,1.0,False,2200,1526.0,0.008667,1500.0,1513.0,13.0,-7.0
2294506,2022-05-25,9994,-1.0,1.0,False,3500,2457.0,0.025609,2421.0,2483.0,16.0,-16.0
2294507,2022-05-25,9997,-1.0,1.0,False,233300,644.0,0.004630,648.0,651.0,12.0,8.0

In [19]:
snd_merge_df

,Date,SecuritiesCode,ExpectedDividend,AdjustmentFactor,SupervisionFlag,Volume,Close,Target,CloseT1,CloseT2,Range_HL,Range_OC
0,2017-01-04,1305,-1.0,1.0,False,538190,1615.0,-0.001855,1617.0,1614.0,24.0,-21.0
1,2017-01-04,1306,-1.0,1.0,False,2494980,1593.0,-0.000627,1595.0,1594.0,22.0,-18.0
2,2017-01-04,1308,-1.0,1.0,False,526100,1578.0,-0.001900,1579.0,1576.0,23.0,-21.0
3,2017-01-04,1309,-1.0,1.0,False,403,28780.0,0.005237,28640.0,28790.0,480.0,30.0
4,2017-01-04,1311,-1.0,1.0,False,5470,734.0,0.001359,736.0,737.0,18.0,-17.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2192496,2022-05-25,9980,-1.0,1.0,False,49800,110.0,0.009091,110.0,111.0,1.0,1.0
2192497,2022-05-25,9986,-1.0,1.0,False,2100,1976.0,0.000000,1975.0,1975.0,13.0,-6.0
2192498,2022-05-25,9995,-1.0,1.0,False,20100,411.0,0.004890,409.0,411.0,5.0,-1.0
2192499,2022-05-25,9996,-1.0,1.0,False,1600,1242.0,-0.007949,1258.0,1248.0,33.0,18.0
2192500,2022-05-25,25935,-1.0,1.0,False,3200,1861.0,-0.004823,1866.0,1857.0,8.0,-6.0

#### add date's features

In [20]:
def add_features_with_Date(df: pd.DataFrame):
    df['dayofyear'] = df['Date'].dt.dayofyear
    df['dayofweek'] = df['Date'].dt.dayofweek
    df['week'] = df['Date'].dt.isocalendar().week
    df['is_month_end'] = df['Date'].dt.is_month_end
    df['is_month_start'] = df['Date'].dt.is_month_start
    df['is_year_end'] = df['Date'].dt.is_year_end
    df['is_year_start'] = df['Date'].dt.is_year_start   
    df['Year'] = df['Date'].dt.year
    df['Month'] = df['Date'].dt.month
    df['Day'] = df['Date'].dt.day

In [21]:
add_features_with_Date(merge_df)
add_features_with_Date(snd_merge_df)

Log volumn

In [22]:
merge_df['Volume'] = np.log(merge_df['Volume'])
snd_merge_df['Volume'] = np.log(snd_merge_df['Volume'])

In [23]:
merge_df.head(10)

,Date,SecuritiesCode,ExpectedDividend,AdjustmentFactor,SupervisionFlag,Volume,Close,Target,CloseT1,CloseT2,...,dayofyear,dayofweek,week,is_month_end,is_month_start,is_year_end,is_year_start,Year,Month,Day
0,2017-01-04,1301,-1.0,1.0,False,10.354563,2742.0,0.000730,2738.0,2740.0,...,4,2,1,False,False,False,False,2017,1,4
1,2017-01-04,1332,-1.0,1.0,False,14.844594,571.0,0.012324,568.0,575.0,...,4,2,1,False,False,False,False,2017,1,4
2,2017-01-04,1333,-1.0,1.0,False,12.509136,3210.0,0.006154,3250.0,3270.0,...,4,2,1,False,False,False,False,2017,1,4
3,2017-01-04,1376,-1.0,1.0,False,9.332558,1550.0,0.011053,1538.0,1555.0,...,4,2,1,False,False,False,False,2017,1,4
4,2017-01-04,1377,-1.0,1.0,False,11.923710,3330.0,0.003026,3305.0,3315.0,...,4,2,1,False,False,False,False,2017,1,4
5,2017-01-04,1379,-1.0,1.0,False,11.255449,2143.0,0.005169,2128.0,2139.0,...,4,2,1,False,False,False,False,2017,1,4
6,2017-01-04,1381,-1.0,1.0,False,7.170120,1960.0,-0.009326,1930.0,1912.0,...,4,2,1,False,False,False,False,2017,1,4
7,2017-01-04,1407,-1.0,1.0,False,11.898188,866.0,-0.003437,885.0,882.0,...,4,2,1,False,False,False,False,2017,1,4
8,2017-01-04,1414,-1.0,1.0,False,11.691908,5050.0,0.000000,5030.0,5030.0,...,4,2,1,False,False,False,False,2017,1,4
9,2017-01-04,1417,-1.0,1.0,False,12.758520,1053.0,-0.007463,1072.0,1064.0,...,4,2,1,False,False,False,False,2017,1,4

In [24]:
snd_merge_df.head(10)

,Date,SecuritiesCode,ExpectedDividend,AdjustmentFactor,SupervisionFlag,Volume,Close,Target,CloseT1,CloseT2,...,dayofyear,dayofweek,week,is_month_end,is_month_start,is_year_end,is_year_start,Year,Month,Day
0,2017-01-04,1305,-1.0,1.0,False,13.195967,1615.0,-0.001855,1617.0,1614.0,...,4,2,1,False,False,False,False,2017,1,4
1,2017-01-04,1306,-1.0,1.0,False,14.729791,1593.0,-0.000627,1595.0,1594.0,...,4,2,1,False,False,False,False,2017,1,4
2,2017-01-04,1308,-1.0,1.0,False,13.173247,1578.0,-0.001900,1579.0,1576.0,...,4,2,1,False,False,False,False,2017,1,4
3,2017-01-04,1309,-1.0,1.0,False,5.998937,28780.0,0.005237,28640.0,28790.0,...,4,2,1,False,False,False,False,2017,1,4
4,2017-01-04,1311,-1.0,1.0,False,8.607034,734.0,0.001359,736.0,737.0,...,4,2,1,False,False,False,False,2017,1,4
5,2017-01-04,1312,-1.0,1.0,False,1.945910,18760.0,0.002132,18760.0,18800.0,...,4,2,1,False,False,False,False,2017,1,4
6,2017-01-04,1313,-1.0,1.0,False,4.382027,2591.0,0.036130,2491.0,2581.0,...,4,2,1,False,False,False,False,2017,1,4
7,2017-01-04,1319,-1.0,1.0,False,9.952278,221.0,0.013514,222.0,225.0,...,4,2,1,False,False,False,False,2017,1,4
8,2017-01-04,1320,-1.0,1.0,False,11.395414,20110.0,-0.003493,20040.0,19970.0,...,4,2,1,False,False,False,False,2017,1,4
9,2017-01-04,1321,-1.0,1.0,False,13.527358,20080.0,-0.003497,20020.0,19950.0,...,4,2,1,False,False,False,False,2017,1,4

In [25]:
merge_df

,Date,SecuritiesCode,ExpectedDividend,AdjustmentFactor,SupervisionFlag,Volume,Close,Target,CloseT1,CloseT2,...,dayofyear,dayofweek,week,is_month_end,is_month_start,is_year_end,is_year_start,Year,Month,Day
0,2017-01-04,1301,-1.0,1.0,False,10.354563,2742.0,0.000730,2738.0,2740.0,...,4,2,1,False,False,False,False,2017,1,4
1,2017-01-04,1332,-1.0,1.0,False,14.844594,571.0,0.012324,568.0,575.0,...,4,2,1,False,False,False,False,2017,1,4
2,2017-01-04,1333,-1.0,1.0,False,12.509136,3210.0,0.006154,3250.0,3270.0,...,4,2,1,False,False,False,False,2017,1,4
3,2017-01-04,1376,-1.0,1.0,False,9.332558,1550.0,0.011053,1538.0,1555.0,...,4,2,1,False,False,False,False,2017,1,4
4,2017-01-04,1377,-1.0,1.0,False,11.923710,3330.0,0.003026,3305.0,3315.0,...,4,2,1,False,False,False,False,2017,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2294503,2022-05-25,9990,-1.0,1.0,False,10.785187,535.0,0.051002,549.0,577.0,...,145,2,21,False,False,False,False,2022,5,25
2294504,2022-05-25,9991,-1.0,1.0,False,10.169691,811.0,0.008621,812.0,819.0,...,145,2,21,False,False,False,False,2022,5,25
2294505,2022-05-25,9993,-1.0,1.0,False,7.696213,1526.0,0.008667,1500.0,1513.0,...,145,2,21,False,False,False,False,2022,5,25
2294506,2022-05-25,9994,-1.0,1.0,False,8.160518,2457.0,0.025609,2421.0,2483.0,...,145,2,21,False,False,False,False,2022,5,25
2294507,2022-05-25,9997,-1.0,1.0,False,12.360080,644.0,0.004630,648.0,651.0,...,145,2,21,False,False,False,False,2022,5,25

Get info of N days before; calc mean and std of N days

In [26]:
def get_N_days(_df: pd.DataFrame, N, interpolate:bool = False):
    def shift_N_date(df_code: pd.DataFrame, N):
        df_code = df_code.reset_index()
        df_code['index'] = df_code['index'].shift(-N)
        return df_code.iloc[:-N]

    df = _df.copy()
    info_cols = ['Close', 'Range_HL', 'Range_OC', 'Volume']

    for i in range(N):

        new_cols = [col_name + '_lags_' + str(i + 1) for col_name in info_cols]

        tmp_df = df[['SecuritiesCode', 'Date'] + info_cols]
        tmp_df.columns = ['SecuritiesCode', 'Date'] + new_cols

        sorted_tmp = tmp_df.groupby(by=['SecuritiesCode']).apply(
            lambda df_code: shift_N_date(df_code, i + 1)
        ).reset_index(drop= True).set_index('index')[new_cols]

        df[new_cols] = sorted_tmp


        if interpolate:
            df = fillInterpolate(df, [col_name + '_lags_' + str(i + 1) for col_name in info_cols])

    if not interpolate:
        df.dropna(inplace= True)
    
    for col_name in ['Close']:
        df[col_name + '_mean'] = df[[col_name] + [col_name + '_lags_' + str(i + 1) for i in range(N)]].mean(axis= 1)
        df[col_name + '_std'] = df[[col_name] + [col_name + '_lags_' + str(i + 1) for i in range(N)]].std(axis= 1).replace(0, method='bfill')
    return df

In [27]:
merge_df = get_N_days(merge_df, N= N_past, interpolate= False)
snd_merge_df = get_N_days(snd_merge_df, N= N_past, interpolate= False)

In [28]:
merge_df

,Date,SecuritiesCode,ExpectedDividend,AdjustmentFactor,SupervisionFlag,Volume,Close,Target,CloseT1,CloseT2,...,Close_lags_9,Range_HL_lags_9,Range_OC_lags_9,Volume_lags_9,Close_lags_10,Range_HL_lags_10,Range_OC_lags_10,Volume_lags_10,Close_mean,Close_std
18503,2017-01-23,1301,-1.0,1.0,False,9.441452,2720.0,0.001467,2727.0,2731.0,...,2748.0,19.0,-3.0,10.094108,2742.0,25.0,-8.0,10.354563,2720.727273,21.977675
18504,2017-01-23,1332,-1.0,1.0,False,14.693435,535.0,0.014842,539.0,547.0,...,562.0,15.0,11.0,14.825146,571.0,13.0,-3.0,14.844594,546.545455,14.095131
18505,2017-01-23,1333,-1.0,1.0,False,12.458775,3165.0,0.001597,3130.0,3135.0,...,3235.0,40.0,-5.0,12.323856,3210.0,70.0,-60.0,12.509136,3207.727273,30.443689
18506,2017-01-23,1376,-1.0,1.0,False,7.600902,1502.0,0.007368,1493.0,1504.0,...,1563.0,28.0,-8.0,9.341369,1550.0,40.0,-40.0,9.332558,1524.727273,25.616756
18507,2017-01-23,1377,-1.0,1.0,False,11.550221,3260.0,0.001541,3245.0,3250.0,...,3330.0,50.0,-5.0,12.167851,3330.0,80.0,-60.0,11.923710,3298.181818,49.511248
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2294503,2022-05-25,9990,-1.0,1.0,False,10.785187,535.0,0.051002,549.0,577.0,...,520.0,12.0,-3.0,10.931320,521.0,21.0,-3.0,12.042965,529.909091,6.963541
2294504,2022-05-25,9991,-1.0,1.0,False,10.169691,811.0,0.008621,812.0,819.0,...,773.0,19.0,19.0,10.305614,792.0,13.0,-7.0,9.786954,794.000000,10.392305
2294505,2022-05-25,9993,-1.0,1.0,False,7.696213,1526.0,0.008667,1500.0,1513.0,...,1498.0,37.0,2.0,9.179881,1500.0,4.0,1.0,7.824046,1514.818182,12.710769
2294506,2022-05-25,9994,-1.0,1.0,False,8.160518,2457.0,0.025609,2421.0,2483.0,...,2451.0,34.0,20.0,8.764053,2479.0,14.0,1.0,7.824046,2452.545455,11.138794
2294507,2022-05-25,9997,-1.0,1.0,False,12.360080,644.0,0.004630,648.0,651.0,...,681.0,19.0,15.0,12.353630,703.0,21.0,6.0,12.306823,666.272727,21.886484

In [29]:
merge_df[merge_df['SecuritiesCode'] == 9990][
    ['SecuritiesCode', 'Date'] +
    list(
        np.array(
            [[col_name] + [col_name + '_lags_' + str(i + 1) for i in range(2)] for col_name in ['Close', 'Range_HL', 'Range_OC', 'Volume']]
        ).reshape(-1, )
)].head(20)

,SecuritiesCode,Date,Close,Close_lags_1,Close_lags_2,Range_HL,Range_HL_lags_1,Range_HL_lags_2,Range_OC,Range_OC_lags_1,Range_OC_lags_2,Volume,Volume_lags_1,Volume_lags_2
20346,9990,2017-01-23,1104.0,1107.0,1118.0,22.0,16.0,30.0,-2.0,7.0,10.0,10.980195,10.900436,11.786001
22196,9990,2017-01-24,1118.0,1104.0,1107.0,18.0,22.0,16.0,-16.0,-2.0,7.0,11.210468,10.980195,10.900436
24048,9990,2017-01-25,1136.0,1118.0,1104.0,22.0,18.0,22.0,-6.0,-16.0,-2.0,11.594505,11.210468,10.980195
25901,9990,2017-01-26,1110.0,1136.0,1118.0,33.0,22.0,18.0,26.0,-6.0,-16.0,11.377106,11.594505,11.210468
27756,9990,2017-01-27,1128.0,1110.0,1136.0,26.0,33.0,22.0,-8.0,26.0,-6.0,11.987917,11.377106,11.594505
29612,9990,2017-01-30,1123.0,1128.0,1110.0,12.0,26.0,33.0,-1.0,-8.0,26.0,10.012342,11.987917,11.377106
31466,9990,2017-01-31,1227.0,1123.0,1128.0,126.0,12.0,26.0,-94.0,-1.0,-8.0,12.799123,10.012342,11.987917
33320,9990,2017-02-01,1196.0,1227.0,1123.0,26.0,126.0,12.0,-19.0,-94.0,-1.0,11.659620,12.799123,10.012342
35169,9990,2017-02-02,1195.0,1196.0,1227.0,24.0,26.0,126.0,10.0,-19.0,-94.0,11.069758,11.659620,12.799123
37015,9990,2017-02-03,1205.0,1195.0,1196.0,30.0,24.0,26.0,-14.0,10.0,-19.0,11.377106,11.069758,11.659620
38864,9990,2017-02-06,1227.0,1205.0,1195.0,24.0,30.0,24.0,-14.0,-14.0,10.0,11.405340,11.377106,11.069758
40711,9990,2017-02-07,1197.0,1227.0,1205.0,24.0,24.0,30.0,23.0,-14.0,-14.0,11.363265,11.405340,11.377106
42562,9990,2017-02-08,1205.0,1197.0,1227.0,11.0,24.0,24.0,-5.0,23.0,-14.0,11.104957,11.363265,11.405340
44414,9990,2017-02-09,1199.0,1205.0,1197.0,11.0,11.0,24.0,5.0,-5.0,23.0,10.785187,11.104957,11.363265
46269,9990,2017-02-10,1200.0,1199.0,1205.0,23.0,11.0,11.0,-10.0,5.0,-5.0,11.476261,10.785187,11.104957
48124,9990,2017-02-13,1196.0,1200.0,1199.0,10.0,23.0,11.0,4.0,-10.0,5.0,11.403111,11.476261,10.785187
49977,9990,2017-02-14,1221.0,1196.0,1200.0,38.0,10.0,23.0,-11.0,4.0,-10.0,11.921054,11.403111,11.476261
51830,9990,2017-02-15,1236.0,1221.0,1196.0,28.0,38.0,10.0,-10.0,-11.0,4.0,11.265745,11.921054,11.403111
53684,9990,2017-02-16,1235.0,1236.0,1221.0,21.0,28.0,38.0,6.0,-10.0,-11.0,10.714418,11.265745,11.921054
55536,9990,2017-02-17,1231.0,1235.0,1236.0,18.0,21.0,28.0,4.0,6.0,-10.0,10.616437,10.714418,11.265745

Scale data: mean = 0; std = 1

In [30]:
def ScaleData(df: pd.DataFrame, N):
    for col_name in ['Close']:
        df[col_name] = (df[col_name] - df['Close_mean'])/df['Close_std']

        for i in range(N):
            name = col_name + '_lags_' + str(i + 1)
            df[name] = (df[name] - df['Close_mean'])/df['Close_std']

    for col_name in ['Range_HL', 'Range_OC']:
        df[col_name] = df[col_name]/df['Close_std']
        for i in range(N):
            name = col_name + '_lags_' + str(i + 1)
            df[name] = df[name]/df['Close_std']

In [31]:
ScaleData(merge_df, N_past)
ScaleData(snd_merge_df, N_past)

In [32]:
merge_df['CloseT1'] = (merge_df['CloseT1'] - merge_df['Close_mean'])/merge_df['Close_std']
merge_df['CloseT2'] = (merge_df['CloseT2'] - merge_df['Close_mean'])/merge_df['Close_std']

snd_merge_df['CloseT1'] = (snd_merge_df['CloseT1'] - snd_merge_df['Close_mean'])/snd_merge_df['Close_std']
snd_merge_df['CloseT2'] = (snd_merge_df['CloseT2'] - snd_merge_df['Close_mean'])/snd_merge_df['Close_std']

#### Data Split

In [33]:
train_df, valid_df, test_df = train_valid_test_split(merge_df)
snd_train_df, snd_valid_df, snd_test_df = train_valid_test_split(snd_merge_df)

In [34]:
len(train_df), len(valid_df), len(test_df)

(1843182, 232663, 198663)

In [35]:
train_df.to_csv('../__input__/2_FeatureEngineering/train_df.csv', index = False)
valid_df.to_csv('../__input__/2_FeatureEngineering/valid_df.csv', index = False)
test_df.to_csv('../__input__/2_FeatureEngineering/test_df.csv', index = False)

snd_train_df.to_csv('../__input__/2_FeatureEngineering/snd_train_df.csv', index = False)
snd_valid_df.to_csv('../__input__/2_FeatureEngineering/snd_valid_df.csv', index = False)
snd_test_df.to_csv('../__input__/2_FeatureEngineering/snd_test_df.csv', index = False)

#### Mini TrainSet

In [36]:
mini_train = train_df.groupby(by=['SecuritiesCode']).apply(
    lambda df_code: df_code.iloc[-3:]
).reset_index(drop= True) 
mini_train

,Date,SecuritiesCode,ExpectedDividend,AdjustmentFactor,SupervisionFlag,Volume,Close,Target,CloseT1,CloseT2,...,Close_lags_9,Range_HL_lags_9,Range_OC_lags_9,Volume_lags_9,Close_lags_10,Range_HL_lags_10,Range_OC_lags_10,Volume_lags_10,Close_mean,Close_std
0,2021-05-25,1301,-1.0,1.0,False,10.060491,-1.333180,-0.019009,-0.673406,-2.352830,...,-0.373508,2.159260,0.449846,9.758462,0.466204,1.319548,-0.089969,10.203592,2968.454545,33.344756
1,2021-05-26,1301,-1.0,1.0,False,9.581904,-0.566471,-0.007266,-2.236068,-2.862167,...,-0.954056,1.222384,0.298142,9.341369,-0.268328,2.146625,0.447214,9.758462,2965.000000,33.541020
2,2021-05-27,1301,-1.0,1.0,False,10.513253,-1.703937,0.009411,-2.222527,-1.555769,...,-0.271642,1.531074,1.234737,10.558414,-0.642063,1.012485,0.246947,9.341369,2959.000000,40.494444
3,2021-05-25,1332,-1.0,1.0,False,14.019104,-1.469851,-0.013699,-1.730631,-2.643360,...,-0.035561,1.825460,0.130390,14.198457,0.746779,2.086240,1.043120,14.154836,524.272727,7.669301
4,2021-05-26,1332,-1.0,1.0,False,13.851746,-1.381202,0.019841,-2.218624,-1.022307,...,1.729221,5.383425,-2.392633,15.370788,0.174010,1.674843,0.119632,14.198457,522.545455,8.358991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,2021-05-26,9994,-1.0,1.0,False,8.389360,-0.248798,0.003947,-0.143537,0.803808,...,-1.196142,3.684118,3.684118,9.358760,2.487976,2.526252,1.052605,9.409191,2281.363636,9.500239
5996,2021-05-27,9994,-1.0,1.0,False,8.366370,0.169132,-0.004806,1.843543,-0.202959,...,0.169132,17.302241,16.744104,10.012342,-1.691324,6.511596,6.511596,9.358760,2279.090909,5.375026
5997,2021-05-25,9997,-1.0,1.0,False,12.318061,-0.891448,-0.026978,-2.754026,-4.397478,...,-0.453194,3.396467,2.300832,12.178701,1.409384,1.917360,0.547817,12.148973,1162.272727,18.254265
5998,2021-05-26,9997,-1.0,1.0,False,12.255815,-2.006083,0.020333,-3.393939,-2.376178,...,-1.127108,1.526642,0.416357,12.061047,-0.063084,2.868236,1.942999,12.178701,1155.363636,21.616071
5999,2021-05-27,9997,-1.0,1.0,False,12.738758,-2.158613,-0.014493,-1.447886,-1.964778,...,0.393543,1.873735,-0.064612,13.222209,-0.575630,1.066091,0.290752,12.061047,1148.818182,30.954218

In [37]:
mini_valid = valid_df.groupby(by=['SecuritiesCode']).apply(
    lambda df_code: df_code.iloc[-3:]
).reset_index(drop= True) 
mini_valid

,Date,SecuritiesCode,ExpectedDividend,AdjustmentFactor,SupervisionFlag,Volume,Close,Target,CloseT1,CloseT2,...,Close_lags_9,Range_HL_lags_9,Range_OC_lags_9,Volume_lags_9,Close_lags_10,Range_HL_lags_10,Range_OC_lags_10,Volume_lags_10,Close_mean,Close_std
0,2021-12-01,1301,-1.0,1.0,False,9.268609,-1.403556,0.016706,-1.114729,-0.471433,...,1.012088,0.590783,0.065643,8.922658,1.209016,0.984638,-0.984638,9.667765,3017.909091,76.170144
1,2021-12-02,1301,-1.0,1.0,False,9.629051,-0.937368,-0.003689,-0.269942,-0.419773,...,1.609747,0.340524,-0.272419,9.011889,1.269224,0.612942,0.068105,8.922658,3001.818182,73.416372
2,2021-12-03,1301,-1.0,1.0,False,9.341369,-0.143175,0.031639,-0.308167,1.101765,...,1.026769,1.049949,1.049949,8.881836,1.926725,0.374982,-0.299986,9.011889,2991.545455,66.669879
3,2021-12-01,1332,-1.0,1.0,False,14.323111,-1.061202,0.020942,-1.111735,-0.505334,...,1.364402,0.252667,0.050533,13.756079,1.364402,0.404267,0.050533,14.187143,595.000000,19.788886
4,2021-12-02,1332,-1.0,1.0,False,14.238029,-0.944242,0.006838,-0.298439,-0.083172,...,1.531336,0.699620,0.322902,14.252410,1.692787,0.269085,0.053817,13.756079,590.545455,18.581516
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,2021-12-02,9994,-1.0,1.0,False,9.126959,-0.689892,0.012139,0.123195,0.996510,...,1.086853,0.542058,0.511943,8.294050,1.207311,0.602286,-0.150572,8.268732,2384.909091,33.206790
5996,2021-12-03,9994,-1.0,1.0,False,8.779557,0.241223,0.009098,1.191223,1.911914,...,0.961913,0.753449,0.360345,7.740664,1.289499,0.589656,0.556897,8.294050,2381.636364,30.526293
5997,2021-12-01,9997,-1.0,1.0,False,12.734050,-0.792202,0.017544,-0.824962,-0.431840,...,1.238933,0.589684,0.327602,12.474572,1.533775,0.360363,-0.163801,12.064509,709.181818,30.524804
5998,2021-12-02,9997,-1.0,1.0,False,12.745194,-0.690305,0.014368,-0.245816,0.124592,...,1.050610,0.592652,0.555611,12.350606,1.643262,0.666733,0.370407,12.474572,702.636364,26.997306
5999,2021-12-03,9997,-1.0,1.0,False,12.850817,-0.088319,0.018414,0.353278,0.927353,...,1.589749,0.883194,-0.264958,12.715297,1.457270,0.706555,0.662395,12.350606,698.000000,22.645088

In [38]:
mini_train.to_csv('../__input__/2_FeatureEngineering/mini_train.csv', index = False)
mini_valid.to_csv('../__input__/2_FeatureEngineering/mini_valid.csv', index = False)