In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from typing import List

'''
None || 20000 || 100000
'''
nb = None
nb_trains = nb
nb_valids = nb
nb_tests = nb

N_past = 10

In [2]:
# from google.colab import drive
# drive.mount('/content/drive/')

In [3]:
# cd drive/MyDrive/Projects/JPX_Tokyo_Stock/working

In [4]:
from data_utils import *

#### Load Data

In [5]:
train_df = pd.read_csv('../__input__/1_DataPreprocessing/train_df.csv', parse_dates=['Date'], nrows = nb_trains)
valid_df = pd.read_csv('../__input__/1_DataPreprocessing/valid_df.csv', parse_dates=['Date'], nrows = nb_trains)
test_df = pd.read_csv('../__input__/1_DataPreprocessing/test_df.csv', parse_dates=['Date'], nrows = nb_trains)

snd_train_df = pd.read_csv('../__input__/1_DataPreprocessing/snd_train_df.csv', parse_dates=['Date'], nrows = nb_trains)
snd_valid_df = pd.read_csv('../__input__/1_DataPreprocessing/snd_valid_df.csv', parse_dates=['Date'], nrows = nb_trains)
snd_test_df = pd.read_csv('../__input__/1_DataPreprocessing/snd_test_df.csv', parse_dates=['Date'], nrows = nb_trains)

In [6]:
mini_train = pd.read_csv('../__input__/1_DataPreprocessing/mini_train.csv', parse_dates=['Date'], nrows = nb_trains)
mini_valid = pd.read_csv('../__input__/1_DataPreprocessing/mini_valid.csv', parse_dates=['Date'], nrows = nb_trains)

In [7]:
hidden_test = pd.read_csv('../__input__/jpx-tokyo-stock-exchange-prediction/example_test_files/stock_prices.csv', nrows = nb_tests, parse_dates=['Date'])

In [8]:
hidden_test = DataPreprocessing_for_HiddenTest(hidden_test, mini_valid)

In [9]:
train_df.info(null_counts= True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1863182 entries, 0 to 1863181
Data columns (total 13 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Date              1863182 non-null  datetime64[ns]
 1   SecuritiesCode    1863182 non-null  int64
 2   ExpectedDividend  1863182 non-null  float64
 3   AdjustmentFactor  1863182 non-null  float64
 4   SupervisionFlag   1863182 non-null  bool
 5   Volume            1863182 non-null  int64
 6   Open              1863182 non-null  float64
 7   High              1863182 non-null  float64
 8   Low               1863182 non-null  float64
 9   Close             1863182 non-null  float64
 10  Target            1863182 non-null  float64
 11  CloseT1           1863182 non-null  float64
 12  CloseT2           1863182 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(9), int64(2)
memory usage: 172.4 MB

In [10]:
valid_df.info(null_counts= True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232663 entries, 0 to 232662
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Date              232663 non-null  datetime64[ns]
 1   SecuritiesCode    232663 non-null  int64
 2   ExpectedDividend  232663 non-null  float64
 3   AdjustmentFactor  232663 non-null  float64
 4   SupervisionFlag   232663 non-null  bool
 5   Volume            232663 non-null  int64
 6   Open              232663 non-null  float64
 7   High              232663 non-null  float64
 8   Low               232663 non-null  float64
 9   Close             232663 non-null  float64
 10  Target            232663 non-null  float64
 11  CloseT1           232663 non-null  float64
 12  CloseT2           232663 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(9), int64(2)
memory usage: 21.5 MB

In [11]:
test_df.info(null_counts= True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198663 entries, 0 to 198662
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Date              198663 non-null  datetime64[ns]
 1   SecuritiesCode    198663 non-null  int64
 2   ExpectedDividend  198663 non-null  float64
 3   AdjustmentFactor  198663 non-null  float64
 4   SupervisionFlag   198663 non-null  bool
 5   Volume            198663 non-null  int64
 6   Open              198663 non-null  float64
 7   High              198663 non-null  float64
 8   Low               198663 non-null  float64
 9   Close             198663 non-null  float64
 10  Target            198663 non-null  float64
 11  CloseT1           198663 non-null  float64
 12  CloseT2           198663 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(9), int64(2)
memory usage: 18.4 MB

In [12]:
mini_train.info(null_counts= True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              6000 non-null   datetime64[ns]
 1   SecuritiesCode    6000 non-null   int64
 2   ExpectedDividend  6000 non-null   float64
 3   AdjustmentFactor  6000 non-null   float64
 4   SupervisionFlag   6000 non-null   bool
 5   Volume            6000 non-null   int64
 6   Open              6000 non-null   float64
 7   High              6000 non-null   float64
 8   Low               6000 non-null   float64
 9   Close             6000 non-null   float64
 10  Target            6000 non-null   float64
 11  CloseT1           6000 non-null   float64
 12  CloseT2           6000 non-null   float64
dtypes: bool(1), datetime64[ns](1), float64(9), int64(2)
memory usage: 568.5 KB

In [13]:
mini_valid.info(null_counts= True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              6000 non-null   datetime64[ns]
 1   SecuritiesCode    6000 non-null   int64
 2   ExpectedDividend  6000 non-null   float64
 3   AdjustmentFactor  6000 non-null   float64
 4   SupervisionFlag   6000 non-null   bool
 5   Volume            6000 non-null   int64
 6   Open              6000 non-null   float64
 7   High              6000 non-null   float64
 8   Low               6000 non-null   float64
 9   Close             6000 non-null   float64
 10  Target            6000 non-null   float64
 11  CloseT1           6000 non-null   float64
 12  CloseT2           6000 non-null   float64
dtypes: bool(1), datetime64[ns](1), float64(9), int64(2)
memory usage: 568.5 KB

In [14]:
hidden_test.info(null_counts= True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              4000 non-null   datetime64[ns]
 1   SecuritiesCode    4000 non-null   int64
 2   Open              4000 non-null   float64
 3   High              4000 non-null   float64
 4   Low               4000 non-null   float64
 5   Close             4000 non-null   float64
 6   Volume            4000 non-null   int64
 7   AdjustmentFactor  4000 non-null   float64
 8   ExpectedDividend  4000 non-null   float64
 9   SupervisionFlag   4000 non-null   bool
dtypes: bool(1), datetime64[ns](1), float64(6), int64(2)
memory usage: 285.3 KB

#### Merge Data

In [15]:
merge_df = pd.concat([train_df, valid_df, test_df]).reset_index(drop= True)
snd_merge_df = pd.concat([snd_train_df, snd_valid_df, snd_test_df]).reset_index(drop= True)
del train_df, valid_df, test_df, snd_train_df, snd_valid_df, snd_test_df

In [16]:
merge_df.info(null_counts= True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2294508 entries, 0 to 2294507
Data columns (total 13 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Date              2294508 non-null  datetime64[ns]
 1   SecuritiesCode    2294508 non-null  int64
 2   ExpectedDividend  2294508 non-null  float64
 3   AdjustmentFactor  2294508 non-null  float64
 4   SupervisionFlag   2294508 non-null  bool
 5   Volume            2294508 non-null  int64
 6   Open              2294508 non-null  float64
 7   High              2294508 non-null  float64
 8   Low               2294508 non-null  float64
 9   Close             2294508 non-null  float64
 10  Target            2294508 non-null  float64
 11  CloseT1           2294508 non-null  float64
 12  CloseT2           2294508 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(9), int64(2)
memory usage: 212.3 MB

In [17]:
snd_merge_df.info(null_counts= True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2192501 entries, 0 to 2192500
Data columns (total 13 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Date              2192501 non-null  datetime64[ns]
 1   SecuritiesCode    2192501 non-null  int64
 2   ExpectedDividend  2192501 non-null  float64
 3   AdjustmentFactor  2192501 non-null  float64
 4   SupervisionFlag   2192501 non-null  bool
 5   Volume            2192501 non-null  int64
 6   Open              2192501 non-null  float64
 7   High              2192501 non-null  float64
 8   Low               2192501 non-null  float64
 9   Close             2192501 non-null  float64
 10  Target            2192501 non-null  float64
 11  CloseT1           2192501 non-null  float64
 12  CloseT2           2192501 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(9), int64(2)
memory usage: 202.8 MB

#### Feature Engineering

- Diff between High and Low: Range_HL
- Diff between Open and Close: Range_OC

In [18]:
def add_range_hl_oc(df: pd.DataFrame):
    df['Range_HL'] = df['High'] - df['Low']
    df['Range_OC'] = df['Open'] - df['Close']
    df.drop(['High', 'Low', 'Open'], axis = 1, inplace= True)

In [19]:
add_range_hl_oc(merge_df)
add_range_hl_oc(snd_merge_df)

In [20]:
merge_df

,Date,SecuritiesCode,ExpectedDividend,AdjustmentFactor,SupervisionFlag,Volume,Close,Target,CloseT1,CloseT2,Range_HL,Range_OC
0,2017-01-04,1301,-1.0,1.0,False,31400,2742.0,0.000730,2738.0,2740.0,25.0,-8.0
1,2017-01-04,1332,-1.0,1.0,False,2798500,571.0,0.012324,568.0,575.0,13.0,-3.0
2,2017-01-04,1333,-1.0,1.0,False,270800,3210.0,0.006154,3250.0,3270.0,70.0,-60.0
3,2017-01-04,1376,-1.0,1.0,False,11300,1550.0,0.011053,1538.0,1555.0,40.0,-40.0
4,2017-01-04,1377,-1.0,1.0,False,150800,3330.0,0.003026,3305.0,3315.0,80.0,-60.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2294503,2022-05-25,9990,-1.0,1.0,False,48300,535.0,0.051002,549.0,577.0,8.0,-4.0
2294504,2022-05-25,9991,-1.0,1.0,False,26100,811.0,0.008621,812.0,819.0,11.0,-11.0
2294505,2022-05-25,9993,-1.0,1.0,False,2200,1526.0,0.008667,1500.0,1513.0,13.0,-7.0
2294506,2022-05-25,9994,-1.0,1.0,False,3500,2457.0,0.025609,2421.0,2483.0,16.0,-16.0
2294507,2022-05-25,9997,-1.0,1.0,False,233300,644.0,0.004630,648.0,651.0,12.0,8.0

In [21]:
snd_merge_df

,Date,SecuritiesCode,ExpectedDividend,AdjustmentFactor,SupervisionFlag,Volume,Close,Target,CloseT1,CloseT2,Range_HL,Range_OC
0,2017-01-04,1305,-1.0,1.0,False,538190,1615.0,-0.001855,1617.0,1614.0,24.0,-21.0
1,2017-01-04,1306,-1.0,1.0,False,2494980,1593.0,-0.000627,1595.0,1594.0,22.0,-18.0
2,2017-01-04,1308,-1.0,1.0,False,526100,1578.0,-0.001900,1579.0,1576.0,23.0,-21.0
3,2017-01-04,1309,-1.0,1.0,False,403,28780.0,0.005237,28640.0,28790.0,480.0,30.0
4,2017-01-04,1311,-1.0,1.0,False,5470,734.0,0.001359,736.0,737.0,18.0,-17.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2192496,2022-05-25,9980,-1.0,1.0,False,49800,110.0,0.009091,110.0,111.0,1.0,1.0
2192497,2022-05-25,9986,-1.0,1.0,False,2100,1976.0,0.000000,1975.0,1975.0,13.0,-6.0
2192498,2022-05-25,9995,-1.0,1.0,False,20100,411.0,0.004890,409.0,411.0,5.0,-1.0
2192499,2022-05-25,9996,-1.0,1.0,False,1600,1242.0,-0.007949,1258.0,1248.0,33.0,18.0
2192500,2022-05-25,25935,-1.0,1.0,False,3200,1861.0,-0.004823,1866.0,1857.0,8.0,-6.0

#### add date's features

In [22]:
def add_features_with_Date(df: pd.DataFrame):
    df['dayofyear'] = df['Date'].dt.dayofyear
    df['dayofweek'] = df['Date'].dt.dayofweek
    df['week'] = df['Date'].dt.isocalendar().week
    df['is_month_end'] = df['Date'].dt.is_month_end
    df['is_month_start'] = df['Date'].dt.is_month_start
    df['is_year_end'] = df['Date'].dt.is_year_end
    df['is_year_start'] = df['Date'].dt.is_year_start   
    df['Year'] = df['Date'].dt.year
    df['Month'] = df['Date'].dt.month
    df['Day'] = df['Date'].dt.day

In [23]:
add_features_with_Date(merge_df)
add_features_with_Date(snd_merge_df)

Log volumn

In [24]:
merge_df['Volume'] = np.log(merge_df['Volume'])
snd_merge_df['Volume'] = np.log(snd_merge_df['Volume'])

In [25]:
merge_df.head(10)

,Date,SecuritiesCode,ExpectedDividend,AdjustmentFactor,SupervisionFlag,Volume,Close,Target,CloseT1,CloseT2,...,dayofyear,dayofweek,week,is_month_end,is_month_start,is_year_end,is_year_start,Year,Month,Day
0,2017-01-04,1301,-1.0,1.0,False,10.354563,2742.0,0.000730,2738.0,2740.0,...,4,2,1,False,False,False,False,2017,1,4
1,2017-01-04,1332,-1.0,1.0,False,14.844594,571.0,0.012324,568.0,575.0,...,4,2,1,False,False,False,False,2017,1,4
2,2017-01-04,1333,-1.0,1.0,False,12.509136,3210.0,0.006154,3250.0,3270.0,...,4,2,1,False,False,False,False,2017,1,4
3,2017-01-04,1376,-1.0,1.0,False,9.332558,1550.0,0.011053,1538.0,1555.0,...,4,2,1,False,False,False,False,2017,1,4
4,2017-01-04,1377,-1.0,1.0,False,11.923710,3330.0,0.003026,3305.0,3315.0,...,4,2,1,False,False,False,False,2017,1,4
5,2017-01-04,1379,-1.0,1.0,False,11.255449,2143.0,0.005169,2128.0,2139.0,...,4,2,1,False,False,False,False,2017,1,4
6,2017-01-04,1381,-1.0,1.0,False,7.170120,1960.0,-0.009326,1930.0,1912.0,...,4,2,1,False,False,False,False,2017,1,4
7,2017-01-04,1407,-1.0,1.0,False,11.898188,866.0,-0.003437,885.0,882.0,...,4,2,1,False,False,False,False,2017,1,4
8,2017-01-04,1414,-1.0,1.0,False,11.691908,5050.0,0.000000,5030.0,5030.0,...,4,2,1,False,False,False,False,2017,1,4
9,2017-01-04,1417,-1.0,1.0,False,12.758520,1053.0,-0.007463,1072.0,1064.0,...,4,2,1,False,False,False,False,2017,1,4

In [26]:
snd_merge_df.head(10)

,Date,SecuritiesCode,ExpectedDividend,AdjustmentFactor,SupervisionFlag,Volume,Close,Target,CloseT1,CloseT2,...,dayofyear,dayofweek,week,is_month_end,is_month_start,is_year_end,is_year_start,Year,Month,Day
0,2017-01-04,1305,-1.0,1.0,False,13.195967,1615.0,-0.001855,1617.0,1614.0,...,4,2,1,False,False,False,False,2017,1,4
1,2017-01-04,1306,-1.0,1.0,False,14.729791,1593.0,-0.000627,1595.0,1594.0,...,4,2,1,False,False,False,False,2017,1,4
2,2017-01-04,1308,-1.0,1.0,False,13.173247,1578.0,-0.001900,1579.0,1576.0,...,4,2,1,False,False,False,False,2017,1,4
3,2017-01-04,1309,-1.0,1.0,False,5.998937,28780.0,0.005237,28640.0,28790.0,...,4,2,1,False,False,False,False,2017,1,4
4,2017-01-04,1311,-1.0,1.0,False,8.607034,734.0,0.001359,736.0,737.0,...,4,2,1,False,False,False,False,2017,1,4
5,2017-01-04,1312,-1.0,1.0,False,1.945910,18760.0,0.002132,18760.0,18800.0,...,4,2,1,False,False,False,False,2017,1,4
6,2017-01-04,1313,-1.0,1.0,False,4.382027,2591.0,0.036130,2491.0,2581.0,...,4,2,1,False,False,False,False,2017,1,4
7,2017-01-04,1319,-1.0,1.0,False,9.952278,221.0,0.013514,222.0,225.0,...,4,2,1,False,False,False,False,2017,1,4
8,2017-01-04,1320,-1.0,1.0,False,11.395414,20110.0,-0.003493,20040.0,19970.0,...,4,2,1,False,False,False,False,2017,1,4
9,2017-01-04,1321,-1.0,1.0,False,13.527358,20080.0,-0.003497,20020.0,19950.0,...,4,2,1,False,False,False,False,2017,1,4

In [58]:
merge_df

,Date,SecuritiesCode,ExpectedDividend,AdjustmentFactor,SupervisionFlag,Volume,Close,Target,CloseT1,CloseT2,...,dayofyear,dayofweek,week,is_month_end,is_month_start,is_year_end,is_year_start,Year,Month,Day
0,2017-01-04,1301,-1.0,1.0,False,10.354563,2742.0,0.000730,2738.0,2740.0,...,4,2,1,False,False,False,False,2017,1,4
1,2017-01-04,1332,-1.0,1.0,False,14.844594,571.0,0.012324,568.0,575.0,...,4,2,1,False,False,False,False,2017,1,4
2,2017-01-04,1333,-1.0,1.0,False,12.509136,3210.0,0.006154,3250.0,3270.0,...,4,2,1,False,False,False,False,2017,1,4
3,2017-01-04,1376,-1.0,1.0,False,9.332558,1550.0,0.011053,1538.0,1555.0,...,4,2,1,False,False,False,False,2017,1,4
4,2017-01-04,1377,-1.0,1.0,False,11.923710,3330.0,0.003026,3305.0,3315.0,...,4,2,1,False,False,False,False,2017,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2294503,2022-05-25,9990,-1.0,1.0,False,10.785187,535.0,0.051002,549.0,577.0,...,145,2,21,False,False,False,False,2022,5,25
2294504,2022-05-25,9991,-1.0,1.0,False,10.169691,811.0,0.008621,812.0,819.0,...,145,2,21,False,False,False,False,2022,5,25
2294505,2022-05-25,9993,-1.0,1.0,False,7.696213,1526.0,0.008667,1500.0,1513.0,...,145,2,21,False,False,False,False,2022,5,25
2294506,2022-05-25,9994,-1.0,1.0,False,8.160518,2457.0,0.025609,2421.0,2483.0,...,145,2,21,False,False,False,False,2022,5,25
2294507,2022-05-25,9997,-1.0,1.0,False,12.360080,644.0,0.004630,648.0,651.0,...,145,2,21,False,False,False,False,2022,5,25

Get info of N days before; calc mean and std of N days

In [54]:
def get_N_days(_df: pd.DataFrame, N, interpolate:bool = False):
    def shift_N_date(df_code: pd.DataFrame, N):
        df_code = df_code.reset_index()
        df_code['index'] = df_code['index'].shift(-N)
        return df_code.iloc[:-N]

    df = _df.copy()
    info_cols = ['Close', 'Range_HL', 'Range_OC', 'Volume']

    for i in range(N):

        # tmp = df[['SecuritiesCode', 'Date'] + info_cols]
        # tmp.columns = ['SecuritiesCode', 'Date'] + [col_name + '_lags_' + str(i + 1) for col_name in info_cols]

        # sorted_tmp = pd.DataFrame()
        # for code in tmp['SecuritiesCode'].unique():

        #     df_tmp = tmp[tmp['SecuritiesCode'] == code]
        #     df_tmp = df_tmp.sort_values(by=['Date'], ascending= True)

        #     df_tmp['Date'] = df_tmp['Date'].shift(-(i + 1))
        #     sorted_tmp = sorted_tmp.append(df_tmp)
        new_cols = [col_name + '_lags_' + str(i + 1) for col_name in info_cols]

        tmp_df = df[['SecuritiesCode', 'Date'] + info_cols]
        tmp_df.columns = ['SecuritiesCode', 'Date'] + new_cols

        sorted_tmp = tmp_df.groupby(by=['SecuritiesCode']).apply(
            lambda df_code: shift_N_date(df_code, i + 1)
        ).reset_index(drop= True).set_index('index')[new_cols]

        # df = df.merge(
        #     sorted_tmp,
        #     how='left', on=['SecuritiesCode', 'Date']
        # )
        df[new_cols] = sorted_tmp


        if interpolate:
            df = fillInterpolate(df, [col_name + '_lags_' + str(i + 1) for col_name in info_cols])

    if not interpolate:
        df.dropna(inplace= True)
    
    for col_name in ['Close']:
        df[col_name + '_mean'] = df[[col_name] + [col_name + '_lags_' + str(i + 1) for i in range(N)]].mean(axis= 1)
        df[col_name + '_std'] = df[[col_name] + [col_name + '_lags_' + str(i + 1) for i in range(N)]].std(axis= 1).replace(0, method='bfill')
    return df

In [55]:
tmp_df = get_N_days(merge_df, N= 2, interpolate= False)

In [56]:
tmp_df

,Date,SecuritiesCode,ExpectedDividend,AdjustmentFactor,SupervisionFlag,Volume,Close,Target,CloseT1,CloseT2,...,Close_lags_1,Range_HL_lags_1,Range_OC_lags_1,Volume_lags_1,Close_lags_2,Range_HL_lags_2,Range_OC_lags_2,Volume_lags_2,Close_mean,Close_std
3714,2017-01-11,1301,-1.0,1.0,False,9.137770,2745.0,-0.003295,2731.0,2722.0,...,2748.0,19.0,-3.0,10.094108,2742.0,25.0,-8.0,10.354563,2745.000000,3.000000
3715,2017-01-11,1332,-1.0,1.0,False,14.618319,553.0,0.016544,544.0,553.0,...,562.0,15.0,11.0,14.825146,571.0,13.0,-3.0,14.844594,562.000000,9.000000
3716,2017-01-11,1333,-1.0,1.0,False,12.524526,3185.0,0.015723,3180.0,3230.0,...,3235.0,40.0,-5.0,12.323856,3210.0,70.0,-60.0,12.509136,3210.000000,25.000000
3717,2017-01-11,1376,-1.0,1.0,False,8.294050,1563.0,0.011177,1521.0,1538.0,...,1563.0,28.0,-8.0,9.341369,1550.0,40.0,-40.0,9.332558,1558.666667,7.505553
3718,2017-01-11,1377,-1.0,1.0,False,13.516026,3220.0,-0.010386,3370.0,3335.0,...,3330.0,50.0,-5.0,12.167851,3330.0,80.0,-60.0,11.923710,3293.333333,63.508530
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2294503,2022-05-25,9990,-1.0,1.0,False,10.785187,535.0,0.051002,549.0,577.0,...,533.0,19.0,15.0,10.628618,545.0,12.0,-9.0,11.215866,537.666667,6.429101
2294504,2022-05-25,9991,-1.0,1.0,False,10.169691,811.0,0.008621,812.0,819.0,...,800.0,6.0,0.0,9.781320,797.0,7.0,1.0,9.568015,802.666667,7.371115
2294505,2022-05-25,9993,-1.0,1.0,False,7.696213,1526.0,0.008667,1500.0,1513.0,...,1518.0,28.0,-6.0,8.517193,1543.0,28.0,-14.0,8.476371,1529.000000,12.767145
2294506,2022-05-25,9994,-1.0,1.0,False,8.160518,2457.0,0.025609,2421.0,2483.0,...,2441.0,18.0,11.0,8.536996,2461.0,24.0,-16.0,8.389360,2453.000000,10.583005
2294507,2022-05-25,9997,-1.0,1.0,False,12.360080,644.0,0.004630,648.0,651.0,...,653.0,11.0,10.0,12.163165,664.0,13.0,-9.0,12.087289,653.666667,10.016653

In [61]:
tmp_df[tmp_df['SecuritiesCode'] == 9990][
    ['SecuritiesCode', 'Date'] +
    list(
        np.array(
            [[col_name] + [col_name + '_lags_' + str(i + 1) for i in range(2)] for col_name in ['Close', 'Range_HL', 'Range_OC', 'Volume']]
        ).reshape(-1, )
)].head(20)

,SecuritiesCode,Date,Close,Close_lags_1,Close_lags_2,Range_HL,Range_HL_lags_1,Range_HL_lags_2,Range_OC,Range_OC_lags_1,Range_OC_lags_2,Volume,Volume_lags_1,Volume_lags_2
5560,9990,2017-01-11,1200.0,1215.0,1223.0,28.0,27.0,48.0,10.0,22.0,-32.0,11.617285,11.196844,10.978490
7408,9990,2017-01-12,1177.0,1200.0,1215.0,32.0,28.0,27.0,21.0,10.0,22.0,11.489657,11.617285,11.196844
9259,9990,2017-01-13,1170.0,1177.0,1200.0,19.0,32.0,28.0,-12.0,21.0,10.0,11.508917,11.489657,11.617285
11111,9990,2017-01-16,1146.0,1170.0,1177.0,20.0,19.0,32.0,9.0,-12.0,21.0,11.318126,11.508917,11.489657
12962,9990,2017-01-17,1131.0,1146.0,1170.0,26.0,20.0,19.0,21.0,9.0,-12.0,11.221235,11.318126,11.508917
14809,9990,2017-01-18,1126.0,1131.0,1146.0,22.0,26.0,20.0,4.0,21.0,9.0,10.599132,11.221235,11.318126
16654,9990,2017-01-19,1118.0,1126.0,1131.0,30.0,22.0,26.0,10.0,4.0,21.0,11.786001,10.599132,11.221235
18498,9990,2017-01-20,1107.0,1118.0,1126.0,16.0,30.0,22.0,7.0,10.0,4.0,10.900436,11.786001,10.599132
20346,9990,2017-01-23,1104.0,1107.0,1118.0,22.0,16.0,30.0,-2.0,7.0,10.0,10.980195,10.900436,11.786001
22196,9990,2017-01-24,1118.0,1104.0,1107.0,18.0,22.0,16.0,-16.0,-2.0,7.0,11.210468,10.980195,10.900436
24048,9990,2017-01-25,1136.0,1118.0,1104.0,22.0,18.0,22.0,-6.0,-16.0,-2.0,11.594505,11.210468,10.980195
25901,9990,2017-01-26,1110.0,1136.0,1118.0,33.0,22.0,18.0,26.0,-6.0,-16.0,11.377106,11.594505,11.210468
27756,9990,2017-01-27,1128.0,1110.0,1136.0,26.0,33.0,22.0,-8.0,26.0,-6.0,11.987917,11.377106,11.594505
29612,9990,2017-01-30,1123.0,1128.0,1110.0,12.0,26.0,33.0,-1.0,-8.0,26.0,10.012342,11.987917,11.377106
31466,9990,2017-01-31,1227.0,1123.0,1128.0,126.0,12.0,26.0,-94.0,-1.0,-8.0,12.799123,10.012342,11.987917
33320,9990,2017-02-01,1196.0,1227.0,1123.0,26.0,126.0,12.0,-19.0,-94.0,-1.0,11.659620,12.799123,10.012342
35169,9990,2017-02-02,1195.0,1196.0,1227.0,24.0,26.0,126.0,10.0,-19.0,-94.0,11.069758,11.659620,12.799123
37015,9990,2017-02-03,1205.0,1195.0,1196.0,30.0,24.0,26.0,-14.0,10.0,-19.0,11.377106,11.069758,11.659620
38864,9990,2017-02-06,1227.0,1205.0,1195.0,24.0,30.0,24.0,-14.0,-14.0,10.0,11.405340,11.377106,11.069758
40711,9990,2017-02-07,1197.0,1227.0,1205.0,24.0,24.0,30.0,23.0,-14.0,-14.0,11.363265,11.405340,11.377106

In [21]:
train_df

,Date,SecuritiesCode,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,Target,CloseT2,Close,CloseT1,...,Close_9_before,Range_HL_9_before,Range_OC_9_before,Volume_9_before,Close_10_before,Range_HL_10_before,Range_OC_10_before,Volume_10_before,Close_mean,Close_std
0,2017-01-19,1301,9.487972,1.0,-1.0,False,-0.006211,2720.000000,2699.0,2737.0,...,2738.0,12.0,5.0,9.792556,2742.0,25.0,-8.0,10.354563,2722.636364,22.791545
1,2017-01-19,1332,14.963103,1.0,-1.0,False,-0.018349,535.000000,554.0,545.0,...,568.0,8.0,4.0,14.586960,571.0,13.0,-3.0,14.844594,552.272727,16.613795
2,2017-01-19,1333,12.091223,1.0,-1.0,False,-0.007837,3165.000000,3245.0,3190.0,...,3250.0,70.0,-25.0,12.715597,3210.0,70.0,-60.0,12.509136,3222.727273,32.121927
3,2017-01-19,1376,8.648221,1.0,-1.0,False,-0.006614,1502.000000,1496.0,1512.0,...,1538.0,102.0,12.0,9.517825,1550.0,40.0,-40.0,9.332558,1531.909091,25.315823
4,2017-01-19,1377,12.296827,1.0,-1.0,False,-0.012121,3260.000000,3310.0,3300.0,...,3305.0,60.0,35.0,11.955686,3330.0,80.0,-60.0,11.923710,3303.636364,48.015149
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4573504,2021-12-03,9980,10.700995,1.0,-1.0,False,0.007692,131.000000,130.0,130.0,...,133.0,5.0,4.0,12.112860,137.0,2.0,1.0,11.140411,131.454545,2.296242
4573505,2021-12-03,9986,8.242756,1.0,-1.0,False,0.004213,1903.987362,1896.0,1896.0,...,1857.0,6.0,3.0,7.972466,1863.0,12.0,11.0,7.937375,1858.090909,19.387906
4573506,2021-12-03,9995,10.678215,1.0,-1.0,False,0.030534,406.030534,394.0,394.0,...,412.0,5.0,-2.0,10.451609,408.0,5.0,-1.0,10.589106,401.818182,9.693484
4573507,2021-12-03,9996,6.214608,1.0,-1.0,False,0.022150,1523.003257,1500.0,1490.0,...,1500.0,2.0,0.0,6.551080,1500.0,0.0,0.0,6.396930,1496.000000,8.955445
4573508,2021-12-03,25935,9.711116,1.0,-1.0,False,0.000000,1998.000000,1998.0,1998.0,...,2096.0,6.0,0.0,9.392662,2098.0,13.0,7.0,10.056209,2060.272727,38.504781

Scale data: mean = 0; std = 1

In [22]:
def ScaleData(df: pd.DataFrame, N):
    for col_name in ['Close']:
        df[col_name] = (df[col_name] - df['Close_mean'])/df['Close_std']
        for i in range(N):
            name = col_name + '_' + str(i + 1) +'_before'
            df[name] = (df[name] - df['Close_mean'])/df['Close_std']

    for col_name in ['Range_HL', 'Range_OC']:
        df[col_name] = df[col_name]/df['Close_std']
        for i in range(N):
            name = col_name + '_' + str(i + 1) +'_before'
            df[name] = df[name]/df['Close_std']

In [23]:
ScaleData(train_df, N_past)
ScaleData(valid_df, N_past)
ScaleData(test_df, N_past)
ScaleData(hidden_test_df, N_past)

In [24]:
train_df['CloseT1'] = (train_df['CloseT1'] - train_df['Close_mean'])/train_df['Close_std']
train_df['CloseT2'] = (train_df['CloseT2'] - train_df['Close_mean'])/train_df['Close_std']

valid_df['CloseT1'] = (valid_df['CloseT1'] - valid_df['Close_mean'])/valid_df['Close_std']
valid_df['CloseT2'] = (valid_df['CloseT2'] - valid_df['Close_mean'])/valid_df['Close_std']

y_test_df['CloseT1'] = (y_test_df['CloseT1'] - test_df['Close_mean'])/test_df['Close_std']
y_test_df['CloseT2'] = (y_test_df['CloseT2'] - test_df['Close_mean'])/test_df['Close_std']

#### Save and Check

In [25]:
train_df.to_csv('../__input__/2_after_featureEngineering/train_full.csv', index = False)
valid_df.to_csv('../__input__/2_after_featureEngineering/valid_full.csv', index = False)
test_df.to_csv('../__input__/2_after_featureEngineering/test_full.csv', index = False)
y_test_df.to_csv('../__input__/2_after_featureEngineering/y_test_full.csv', index = False)

In [26]:
train_df.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4573509 entries, 0 to 4573508
Data columns (total 64 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   Date                4573509 non-null  datetime64[ns]
 1   SecuritiesCode      4573509 non-null  int64
 2   Volume              4573509 non-null  float64
 3   AdjustmentFactor    4573509 non-null  float64
 4   ExpectedDividend    4573509 non-null  float64
 5   SupervisionFlag     4573509 non-null  bool
 6   Target              4573509 non-null  float64
 7   CloseT2             4573509 non-null  float64
 8   Close               4573509 non-null  float64
 9   CloseT1             4573509 non-null  float64
 10  Range_HL            4573509 non-null  float64
 11  Range_OC            4573509 non-null  float64
 12  dayofyear           4573509 non-null  int64
 13  dayofweek           4573509 non-null  int64
 14  week                4573509 non-null  UInt32
 15  is_month_end        4573509 non-null  bool
 16  is_month_start      4573509 non-null  bool
 17  is_year_end         4573509 non-null  bool
 18  is_year_start       4573509 non-null  bool
 19  Year                4573509 non-null  int64
 20  Month               4573509 non-null  int64
 21  Day                 4573509 non-null  int64
 22  Close_1_before      4573509 non-null  float64
 23  Range_HL_1_before   4573509 non-null  float64
 24  Range_OC_1_before   4573509 non-null  float64
 25  Volume_1_before     4573509 non-null  float64
 26  Close_2_before      4573509 non-null  float64
 27  Range_HL_2_before   4573509 non-null  float64
 28  Range_OC_2_before   4573509 non-null  float64
 29  Volume_2_before     4573509 non-null  float64
 30  Close_3_before      4573509 non-null  float64
 31  Range_HL_3_before   4573509 non-null  float64
 32  Range_OC_3_before   4573509 non-null  float64
 33  Volume_3_before     4573509 non-null  float64
 34  Close_4_before      4573509 non-null  float64
 35  Range_HL_4_before   4573509 non-null  float64
 36  Range_OC_4_before   4573509 non-null  float64
 37  Volume_4_before     4573509 non-null  float64
 38  Close_5_before      4573509 non-null  float64
 39  Range_HL_5_before   4573509 non-null  float64
 40  Range_OC_5_before   4573509 non-null  float64
 41  Volume_5_before     4573509 non-null  float64
 42  Close_6_before      4573509 non-null  float64
 43  Range_HL_6_before   4573509 non-null  float64
 44  Range_OC_6_before   4573509 non-null  float64
 45  Volume_6_before     4573509 non-null  float64
 46  Close_7_before      4573509 non-null  float64
 47  Range_HL_7_before   4573509 non-null  float64
 48  Range_OC_7_before   4573509 non-null  float64
 49  Volume_7_before     4573509 non-null  float64
 50  Close_8_before      4573509 non-null  float64
 51  Range_HL_8_before   4573509 non-null  float64
 52  Range_OC_8_before   4573509 non-null  float64
 53  Volume_8_before     4573509 non-null  float64
 54  Close_9_before      4573509 non-null  float64
 55  Range_HL_9_before   4573509 non-null  float64
 56  Range_OC_9_before   4573509 non-null  float64
 57  Volume_9_before     4573509 non-null  float64
 58  Close_10_before     4573509 non-null  float64
 59  Range_HL_10_before  4573509 non-null  float64
 60  Range_OC_10_before  4573509 non-null  float64
 61  Volume_10_before    4573509 non-null  float64
 62  Close_mean          4573509 non-null  float64
 63  Close_std           4573509 non-null  float64
dtypes: UInt32(1), bool(5), datetime64[ns](1), float64(51), int64(6)
memory usage: 2.0 GB

In [27]:
train_df.head()

,Date,SecuritiesCode,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,Target,CloseT2,Close,CloseT1,...,Close_9_before,Range_HL_9_before,Range_OC_9_before,Volume_9_before,Close_10_before,Range_HL_10_before,Range_OC_10_before,Volume_10_before,Close_mean,Close_std
0,2017-01-19,1301,9.487972,1.0,-1.0,False,-0.006211,-0.115673,-1.037067,0.630218,...,0.674094,0.526511,0.219380,9.792556,0.849597,1.096898,-0.351007,10.354563,2722.636364,22.791545
1,2017-01-19,1332,14.963103,1.0,-1.0,False,-0.018349,-1.039662,0.103966,-0.437752,...,0.946639,0.481528,0.240764,14.586960,1.127212,0.782482,-0.180573,14.844594,552.272727,16.613795
2,2017-01-19,1333,12.091223,1.0,-1.0,False,-0.007837,-1.797130,0.693381,-1.018845,...,0.849038,2.179197,-0.778285,12.715597,-0.396218,2.179197,-1.867883,12.509136,3222.727273,32.121927
3,2017-01-19,1376,8.648221,1.0,-1.0,False,-0.006614,-1.181439,-1.418445,-0.786429,...,0.240597,4.029101,0.474012,9.517825,0.714609,1.580039,-1.580039,9.332558,1531.909091,25.315823
4,2017-01-19,1377,12.296827,1.0,-1.0,False,-0.012121,-0.908804,0.132534,-0.075734,...,0.028400,1.249606,0.728937,11.955686,0.549069,1.666141,-1.249606,11.923710,3303.636364,48.015149

In [28]:
valid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233223 entries, 0 to 233222
Data columns (total 64 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Date                233223 non-null  datetime64[ns]
 1   SecuritiesCode      233223 non-null  int64
 2   Volume              233223 non-null  float64
 3   AdjustmentFactor    233223 non-null  float64
 4   ExpectedDividend    233223 non-null  float64
 5   SupervisionFlag     233223 non-null  bool
 6   Target              233223 non-null  float64
 7   CloseT2             233223 non-null  float64
 8   Close               233223 non-null  float64
 9   CloseT1             233223 non-null  float64
 10  Range_HL            233223 non-null  float64
 11  Range_OC            233223 non-null  float64
 12  dayofyear           233223 non-null  int64
 13  dayofweek           233223 non-null  int64
 14  week                233223 non-null  UInt32
 15  is_month_end        233223 non-null  bool
 16  is_month_start      233223 non-null  bool
 17  is_year_end         233223 non-null  bool
 18  is_year_start       233223 non-null  bool
 19  Year                233223 non-null  int64
 20  Month               233223 non-null  int64
 21  Day                 233223 non-null  int64
 22  Close_1_before      233223 non-null  float64
 23  Range_HL_1_before   233223 non-null  float64
 24  Range_OC_1_before   233223 non-null  float64
 25  Volume_1_before     233223 non-null  float64
 26  Close_2_before      233223 non-null  float64
 27  Range_HL_2_before   233223 non-null  float64
 28  Range_OC_2_before   233223 non-null  float64
 29  Volume_2_before     233223 non-null  float64
 30  Close_3_before      233223 non-null  float64
 31  Range_HL_3_before   233223 non-null  float64
 32  Range_OC_3_before   233223 non-null  float64
 33  Volume_3_before     233223 non-null  float64
 34  Close_4_before      233223 non-null  float64
 35  Range_HL_4_before   233223 non-null  float64
 36  Range_OC_4_before   233223 non-null  float64
 37  Volume_4_before     233223 non-null  float64
 38  Close_5_before      233223 non-null  float64
 39  Range_HL_5_before   233223 non-null  float64
 40  Range_OC_5_before   233223 non-null  float64
 41  Volume_5_before     233223 non-null  float64
 42  Close_6_before      233223 non-null  float64
 43  Range_HL_6_before   233223 non-null  float64
 44  Range_OC_6_before   233223 non-null  float64
 45  Volume_6_before     233223 non-null  float64
 46  Close_7_before      233223 non-null  float64
 47  Range_HL_7_before   233223 non-null  float64
 48  Range_OC_7_before   233223 non-null  float64
 49  Volume_7_before     233223 non-null  float64
 50  Close_8_before      233223 non-null  float64
 51  Range_HL_8_before   233223 non-null  float64
 52  Range_OC_8_before   233223 non-null  float64
 53  Volume_8_before     233223 non-null  float64
 54  Close_9_before      233223 non-null  float64
 55  Range_HL_9_before   233223 non-null  float64
 56  Range_OC_9_before   233223 non-null  float64
 57  Volume_9_before     233223 non-null  float64
 58  Close_10_before     233223 non-null  float64
 59  Range_HL_10_before  233223 non-null  float64
 60  Range_OC_10_before  233223 non-null  float64
 61  Volume_10_before    233223 non-null  float64
 62  Close_mean          233223 non-null  float64
 63  Close_std           233223 non-null  float64
dtypes: UInt32(1), bool(5), datetime64[ns](1), float64(51), int64(6)
memory usage: 105.4 MB

In [29]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229952 entries, 0 to 229951
Data columns (total 61 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Date                229952 non-null  datetime64[ns]
 1   SecuritiesCode      229952 non-null  int64
 2   Volume              229952 non-null  float64
 3   AdjustmentFactor    229952 non-null  float64
 4   ExpectedDividend    229952 non-null  float64
 5   SupervisionFlag     229952 non-null  bool
 6   Close               229952 non-null  float64
 7   Range_HL            229952 non-null  float64
 8   Range_OC            229952 non-null  float64
 9   dayofyear           229952 non-null  int64
 10  dayofweek           229952 non-null  int64
 11  week                229952 non-null  UInt32
 12  is_month_end        229952 non-null  bool
 13  is_month_start      229952 non-null  bool
 14  is_year_end         229952 non-null  bool
 15  is_year_start       229952 non-null  bool
 16  Year                229952 non-null  int64
 17  Month               229952 non-null  int64
 18  Day                 229952 non-null  int64
 19  Close_1_before      229952 non-null  float64
 20  Range_HL_1_before   229952 non-null  float64
 21  Range_OC_1_before   229952 non-null  float64
 22  Volume_1_before     229952 non-null  float64
 23  Close_2_before      229952 non-null  float64
 24  Range_HL_2_before   229952 non-null  float64
 25  Range_OC_2_before   229952 non-null  float64
 26  Volume_2_before     229952 non-null  float64
 27  Close_3_before      229952 non-null  float64
 28  Range_HL_3_before   229952 non-null  float64
 29  Range_OC_3_before   229952 non-null  float64
 30  Volume_3_before     229952 non-null  float64
 31  Close_4_before      229952 non-null  float64
 32  Range_HL_4_before   229952 non-null  float64
 33  Range_OC_4_before   229952 non-null  float64
 34  Volume_4_before     229952 non-null  float64
 35  Close_5_before      229952 non-null  float64
 36  Range_HL_5_before   229952 non-null  float64
 37  Range_OC_5_before   229952 non-null  float64
 38  Volume_5_before     229952 non-null  float64
 39  Close_6_before      229952 non-null  float64
 40  Range_HL_6_before   229952 non-null  float64
 41  Range_OC_6_before   229952 non-null  float64
 42  Volume_6_before     229952 non-null  float64
 43  Close_7_before      229952 non-null  float64
 44  Range_HL_7_before   229952 non-null  float64
 45  Range_OC_7_before   229952 non-null  float64
 46  Volume_7_before     229952 non-null  float64
 47  Close_8_before      229952 non-null  float64
 48  Range_HL_8_before   229952 non-null  float64
 49  Range_OC_8_before   229952 non-null  float64
 50  Volume_8_before     229952 non-null  float64
 51  Close_9_before      229952 non-null  float64
 52  Range_HL_9_before   229952 non-null  float64
 53  Range_OC_9_before   229952 non-null  float64
 54  Volume_9_before     229952 non-null  float64
 55  Close_10_before     229952 non-null  float64
 56  Range_HL_10_before  229952 non-null  float64
 57  Range_OC_10_before  229952 non-null  float64
 58  Volume_10_before    229952 non-null  float64
 59  Close_mean          229952 non-null  float64
 60  Close_std           229952 non-null  float64
dtypes: UInt32(1), bool(5), datetime64[ns](1), float64(48), int64(6)
memory usage: 98.7 MB

In [30]:
hidden_test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 61 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                4000 non-null   datetime64[ns]
 1   SecuritiesCode      4000 non-null   int64
 2   Volume              4000 non-null   float64
 3   AdjustmentFactor    4000 non-null   float64
 4   ExpectedDividend    4000 non-null   float64
 5   SupervisionFlag     4000 non-null   bool
 6   Close               4000 non-null   float64
 7   Range_HL            4000 non-null   float64
 8   Range_OC            4000 non-null   float64
 9   dayofyear           4000 non-null   int64
 10  dayofweek           4000 non-null   int64
 11  week                4000 non-null   UInt32
 12  is_month_end        4000 non-null   bool
 13  is_month_start      4000 non-null   bool
 14  is_year_end         4000 non-null   bool
 15  is_year_start       4000 non-null   bool
 16  Year                4000 non-null   int64
 17  Month               4000 non-null   int64
 18  Day                 4000 non-null   int64
 19  Close_1_before      4000 non-null   float64
 20  Range_HL_1_before   4000 non-null   float64
 21  Range_OC_1_before   4000 non-null   float64
 22  Volume_1_before     4000 non-null   float64
 23  Close_2_before      4000 non-null   float64
 24  Range_HL_2_before   4000 non-null   float64
 25  Range_OC_2_before   4000 non-null   float64
 26  Volume_2_before     4000 non-null   float64
 27  Close_3_before      4000 non-null   float64
 28  Range_HL_3_before   4000 non-null   float64
 29  Range_OC_3_before   4000 non-null   float64
 30  Volume_3_before     4000 non-null   float64
 31  Close_4_before      4000 non-null   float64
 32  Range_HL_4_before   4000 non-null   float64
 33  Range_OC_4_before   4000 non-null   float64
 34  Volume_4_before     4000 non-null   float64
 35  Close_5_before      4000 non-null   float64
 36  Range_HL_5_before   4000 non-null   float64
 37  Range_OC_5_before   4000 non-null   float64
 38  Volume_5_before     4000 non-null   float64
 39  Close_6_before      4000 non-null   float64
 40  Range_HL_6_before   4000 non-null   float64
 41  Range_OC_6_before   4000 non-null   float64
 42  Volume_6_before     4000 non-null   float64
 43  Close_7_before      4000 non-null   float64
 44  Range_HL_7_before   4000 non-null   float64
 45  Range_OC_7_before   4000 non-null   float64
 46  Volume_7_before     4000 non-null   float64
 47  Close_8_before      4000 non-null   float64
 48  Range_HL_8_before   4000 non-null   float64
 49  Range_OC_8_before   4000 non-null   float64
 50  Volume_8_before     4000 non-null   float64
 51  Close_9_before      4000 non-null   float64
 52  Range_HL_9_before   4000 non-null   float64
 53  Range_OC_9_before   4000 non-null   float64
 54  Volume_9_before     4000 non-null   float64
 55  Close_10_before     4000 non-null   float64
 56  Range_HL_10_before  4000 non-null   float64
 57  Range_OC_10_before  4000 non-null   float64
 58  Volume_10_before    4000 non-null   float64
 59  Close_mean          4000 non-null   float64
 60  Close_std           4000 non-null   float64
dtypes: UInt32(1), bool(5), datetime64[ns](1), float64(48), int64(6)
memory usage: 1.7 MB

#### Mini Trainset

In [31]:
miniset = train_df[train_df['Date'] > '2021-11-01'].reset_index()
miniset

,index,Date,SecuritiesCode,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,Target,CloseT2,Close,...,Close_9_before,Range_HL_9_before,Range_OC_9_before,Volume_9_before,Close_10_before,Range_HL_10_before,Range_OC_10_before,Volume_10_before,Close_mean,Close_std
0,2261056,2021-11-02,1301,9.786954,1.0,-1.0,False,-0.043077,6.515019,1.536235,...,0.071886,1.610783,1.317914,8.881836,0.657626,1.025044,-0.439305,8.699515,3027.545455,34.144878
1,2261057,2021-11-02,1332,13.944343,1.0,-1.0,False,0.040945,-2.707243,-0.017466,...,-0.209593,4.034665,2.497650,14.093672,1.135295,1.729142,0.384254,14.217570,649.090909,5.204893
2,2261058,2021-11-02,1333,11.575900,1.0,-1.0,False,-0.001917,0.213653,0.412259,...,0.677068,1.588853,0.959932,11.143310,1.703202,0.761325,0.562719,10.918718,2601.545455,30.210474
3,2261059,2021-11-02,1375,10.740735,1.0,-1.0,False,-0.015972,-0.042552,-0.711221,...,0.759851,1.537939,1.069870,11.747207,2.565257,1.270471,-0.468068,10.956056,1440.636364,14.955084
4,2261060,2021-11-02,1376,7.244228,1.0,-1.0,False,-0.010554,1.369069,1.093586,...,-0.329745,0.596881,-0.229570,7.824046,-0.559315,0.413225,-0.367311,7.170120,1486.181818,21.779891
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88231,4573504,2021-12-03,9980,10.700995,1.0,-1.0,False,0.007692,-0.197952,-0.633446,...,0.673036,2.177471,1.741977,12.112860,2.415013,0.870988,0.435494,11.140411,131.454545,2.296242
88232,4573505,2021-12-03,9986,8.242756,1.0,-1.0,False,0.004213,2.367272,1.955296,...,-0.056268,0.309471,0.154736,7.972466,0.253204,0.618943,0.567364,7.937375,1858.090909,19.387906
88233,4573506,2021-12-03,9995,10.678215,1.0,-1.0,False,0.030534,0.434555,-0.806540,...,1.050378,0.515810,-0.206324,10.451609,0.637729,0.515810,-0.103162,10.589106,401.818182,9.693484
88234,4573507,2021-12-03,9996,6.214608,1.0,-1.0,False,0.022150,3.015289,0.446656,...,0.446656,0.223328,0.000000,6.551080,0.446656,0.000000,0.000000,6.396930,1496.000000,8.955445
88235,4573508,2021-12-03,25935,9.711116,1.0,-1.0,False,0.000000,-1.617273,-1.617273,...,0.927866,0.155825,0.000000,9.392662,0.979807,0.337620,0.181796,10.056209,2060.272727,38.504781

In [32]:
miniset[miniset['SecuritiesCode'] == 1301]

,index,Date,SecuritiesCode,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,Target,CloseT2,Close,...,Close_9_before,Range_HL_9_before,Range_OC_9_before,Volume_9_before,Close_10_before,Range_HL_10_before,Range_OC_10_before,Volume_10_before,Close_mean,Close_std
0,2261056,2021-11-02,1301,9.786954,1.0,-1.0,False,-0.043077,6.515019,1.536235,...,0.071886,1.610783,1.317914,8.881836,0.657626,1.025044,-0.439305,8.699515,3027.545455,34.144878
1994,2263050,2021-11-04,1301,11.077516,1.0,-1.0,False,-0.014469,0.255264,2.705559,...,-0.473202,0.397345,0.264897,8.764053,-0.208305,0.728466,0.596018,8.881836,3045.727273,75.501114
3988,2265044,2021-11-05,1301,9.846917,1.0,-1.0,False,-0.011419,0.022078,0.733998,...,-0.553717,0.450700,0.000000,9.035987,-0.553717,0.386314,0.257543,8.764053,3053.000000,77.656938
5983,2267039,2021-11-08,1301,9.239899,1.0,-1.0,False,0.006601,-0.104751,0.091657,...,-0.890385,0.209502,0.065469,9.126959,-0.628507,0.458286,0.000000,9.035987,3058.000000,76.371461
7979,2269035,2021-11-09,1301,8.999619,1.0,-1.0,False,-0.001639,-0.196669,-0.395752,...,-0.900094,0.530887,-0.159266,9.190138,-0.926639,0.212355,0.066361,9.126959,3059.818182,75.345628
9971,2271027,2021-11-10,1301,8.536996,1.0,-1.0,False,0.021346,0.622268,-0.212482,...,-0.768982,0.403463,-0.333900,9.210340,-1.019407,0.556500,-0.166950,9.190138,3065.272727,71.877800
11964,2273020,2021-11-11,1301,8.648221,1.0,-1.0,False,-0.004823,0.365478,-0.368145,...,-1.087096,1.012400,0.205414,11.287279,-0.881681,0.425501,-0.352139,9.210340,3070.090909,68.154904
13952,2275008,2021-11-12,1301,9.667765,1.0,-1.0,False,0.008078,0.886121,0.467137,...,-0.442333,0.879155,-0.803366,9.277999,-1.260857,1.045891,0.212210,11.287279,3079.181818,65.972446
15948,2277004,2021-11-15,1301,8.922658,1.0,-1.0,False,-0.019231,-0.469934,0.113694,...,-0.053057,0.500253,0.000000,9.786954,-0.636685,0.967155,-0.883780,9.277999,3088.181818,59.969689
17941,2278997,2021-11-16,1301,9.011889,1.0,-1.0,False,-0.004902,-0.836602,0.429814,...,-0.245608,0.590994,0.084428,9.786954,-0.161180,0.506567,0.000000,9.786954,3094.545455,59.222232
19936,2280992,2021-11-17,1301,8.881836,1.0,-1.0,False,-0.001642,-0.869786,-0.536998,...,2.624484,2.911891,-2.911891,11.077516,-0.204211,0.582378,0.083197,9.786954,3092.272727,60.098404
21926,2282982,2021-11-18,1301,9.581904,1.0,-1.0,False,0.001645,-0.714395,-0.714395,...,0.338785,0.891152,0.648111,9.846917,2.607173,2.835485,-2.835485,11.077516,3089.090909,61.717833
23918,2284974,2021-11-19,1301,8.909235,1.0,-1.0,False,-0.013136,-2.324831,-0.921443,...,-0.153574,1.689312,0.307148,9.239899,1.228590,1.689312,1.228590,9.846917,3070.000000,32.557641
25912,2286968,2021-11-22,1301,8.612503,1.0,-1.0,False,0.000000,-1.943853,-0.628014,...,-1.121453,1.809278,1.151359,8.999619,0.029905,1.809278,0.328960,9.239899,3064.090909,30.398864
27907,2288963,2021-11-24,1301,9.409191,1.0,-1.0,False,-0.003328,-1.806820,-1.522891,...,-0.245211,0.425893,-0.425893,8.536996,-0.813069,1.561609,0.993751,8.999619,3058.636364,35.220087
29900,2290956,2021-11-25,1301,8.764053,1.0,-1.0,False,-0.014691,-2.776137,-1.353337,...,-0.299411,0.790445,-0.263482,8.648221,-0.167670,0.395222,-0.395222,8.536996,3056.363636,37.953321
31893,2292949,2021-11-26,1301,9.358760,1.0,-1.0,False,-0.017282,-3.111223,-1.333904,...,1.387691,1.774953,-1.774953,9.667765,-0.150602,0.709981,-0.236660,8.648221,3051.363636,42.254639
33889,2294945,2021-11-29,1301,9.568015,1.0,-1.0,False,0.003793,-2.532922,-1.764311,...,1.002688,0.864687,0.096076,8.922658,1.290917,1.441145,-1.441145,9.667765,3042.818182,52.041941
35887,2296943,2021-11-30,1301,9.928180,1.0,-1.0,False,0.007558,-1.453579,-1.982285,...,1.542425,0.400535,-0.320428,9.011889,1.141889,0.720963,0.080107,8.922658,3023.727273,62.416490
37881,2298937,2021-12-01,1301,9.268609,1.0,-1.0,False,0.016706,-0.379014,-1.455414,...,0.803510,1.061240,1.061240,8.881836,1.713144,0.379014,-0.303211,9.011889,3007.000000,65.960594
39876,2300932,2021-12-02,1301,9.629051,1.0,-1.0,False,-0.003689,-0.330567,-0.991702,...,0.956905,0.782923,0.260974,9.581904,1.217879,1.217879,1.217879,8.881836,2990.000000,57.476952
41872,2302928,2021-12-03,1301,9.341369,1.0,-1.0,False,0.031639,1.777070,-0.017290,...,1.085785,0.475463,0.000000,8.909235,1.180877,0.855833,0.285278,9.581904,2982.909091,52.580328

In [33]:
miniset.to_csv('../__input__/2_after_featureEngineering/mini_train.csv', index = False)